.navigation {
  max-width: 300px; 
}

.donut-title {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
}

.navigation{
    .active{
      background-color: rgba(26, 115, 232, 0.1);
      height: 45px;
  }
}

.navigation {
    .inactive {
      height: 45px;
  }
}

.navigation{
  .inactive{
    height: 45px;
    .icon{
      margin-left: 20px;
      .path-name{
        fill : rgb(0, 0, 0);
      }
    }
  }
}

.navigation{
    .active {
      height: 45px;
      .icon{
        margin-left: 20px;
        .path-name{
          fill : #1A73E8;
          fill-opacity : 10
        }
      }
    .tabs{
      margin-left: 30px;
      font-family: Qanelas;
      font-style: normal;
      font-weight: bolder;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1px;
      color: #1A73E8;
      text-transform: none;
    }
  }
}

.logout{
  height: 20px;
  width: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}
.inactive{
  height: 40px;
  .tabs{
    margin-left: 30px;
    font-family: Qanelas;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: none;
  }
}

.lower{
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: 300px;
  width: 248px;
}
.divide{
  margin-bottom: 2px;
}