.navigation {
  .list-group {
    .route {
      .active {
        background-color: rgba(26, 115, 232, 0.1);
      }
    }
  }
}

.active {
  svg {
    path {
      fill : #1A73E8;
      fill-opacity : 10
    }
  }
}

.inactive {
  .link-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.active {
  .link-text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #1A73E8;
  }
}

.donut-title {
  padding-left: 20px;
}

.jitsi{
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.5);
}


.logout{
  height: 21px;
  width: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  margin-left: 2px;
}

.log-button{
  margin-left: -8.5px; 
  color: rgba(0, 0, 0, 0.5);
}