.navigation {
  b{
    font-size: 15px;
  }
}

.donut-title {
  DonutTitleSmall {
    width: 5rem; 
    height: 2rem;
  }
 
}

.logout{
  height: 27px;
  width: 27px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 2%;
  margin-left: 2px;
}

.donut-logo{
  height: 27px;
  width: 27px;
  color: rgba(0, 0, 0, 0.5);
}