.main-navigation {
  .list-group {
    .list-group-item {
      white-space: nowrap;
      cursor: pointer;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1px;
      text-decoration: none;
      span {
        font-weight: bold;
        font-size: 25px;
        vertical-align: middle;
      }
    }
  }
}

.donut-title {
  width: 50px;
}

.main-navigation {
  .list-group {
    .active {
      background-color: rgba(26, 115, 232, 0.1);
      .link {
        color: #1a73e8;
      }
    }
    span {
      .active {
        background-color: rgba(26, 115, 232, 0.1);
        .link {
          color: #1a73e8;
        }
      }
    }
  }
}

.main-navigation {
  .list-group {
    .inactive {
      .link {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    span {
      .active {
        background-color: rgba(26, 115, 232, 0.1);
        .link {
          color: #1a73e8;
        }
      }
    }
  }
}

.main-navigation {
  .list-group {
    .list-group-item {
      svg {
        padding: 0px 10px 0px 10px;
      }
      span {
        svg {
          padding: 0px;
        }
      }
    }
  }
}
.community {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
}
.community_settings {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  height: 20px;
}

.jitsi {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px 0px 10px;
}

.community {
  padding: 0px 10px 0px 10px;
}
.jitsi-meet {
  height: 21px;
  width: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

.main-navigation {
  .list-group {
    .active {
      .icon {
        .path-name {
          fill: #1a73e8;
          fill-opacity: 10;
        }
      }
    }
  }
}

.logout {
  height: 21px;
  width: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  margin-left: 2px;
}

.log-button {
  margin-left: -8.5px;
  position: fixed;
  z-index: 999;
  color: rgba(0, 0, 0, 0.5);
  bottom: 2em;
}
.main-navigation {
  hr {
    margin-bottom: 0;
  }
}