.navigation {
  width: 13vw;
  background: #f5f5f5;
  flex-grow: 1;
  border-right: solid 1px #dfe9f1;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: scroll;
  .list-group {
    background-color: #f5f5f5;
    .list-group-item {
      background-color: #f5f5f5;
      white-space: nowrap;
      cursor: pointer;
      border: none;
      font-style: normal;
      font-family: "Inter";
      font-size: 0.8rem;
      letter-spacing: 0.1px;
      text-decoration: none;
      span {
        font-style: normal;
        font-family: "Inter";
        font-size: 0.8rem;
        letter-spacing: 0.1px;
        text-decoration: none;
        margin-left: 1.4vw;
      }
    }
  }
  .list-group-integrations {
    background-color: #f5f5f5;
    .list-group-item {
      background-color: #f5f5f5;
      white-space: nowrap;
      cursor: pointer;
      border: none;
      font-style: normal;
      font-family: "Inter";
      font-size: 0.8rem;
      letter-spacing: 0.1px;
      text-decoration: none;
      span {
        font-style: normal;
        font-family: "Inter";
        font-size: 0.8rem;
        letter-spacing: 0.1px;
        text-decoration: none;
        margin-left: 1.4vw;
      }
      .integration-text {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 21px;
        .integration-add {
          margin-left: 3.9vw;
        }
      }
    }
  }
  .codeuino {
    .codeuino-text {
      text-align: center;
      font-family: Inter;
      font-style: normal;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 3.6px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.donut-title {
  width: 50px;
}

.navigation {
  .list-group {
    .link {
      text-decoration: none;
      background-color: rgba(26, 115, 232, 0.1);
      .active {
        color: #1a73e8;
        background-color: transparent;
        font-weight: bold;
      }
    }
    span {
      .link {
        background-color: rgba(26, 115, 232, 0.1);
        .active {
          color: #1a73e8;
          background-color: transparent;
        }
      }
    }
  }
}

.navigation {
  .list-group {
    .link {
      .inactive {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    span {
      .link {
        .active {
          background-color: rgba(26, 115, 232, 0.1);
          color: #1a73e8;
          background-color: transparent;
        }
      }
    }
  }
}

.navigation {
  .list-group {
    .list-group-item {
      svg {
        padding: 0px 10px 0px 10px;
      }
      span {
        svg {
          padding: 0px;
        }
      }
    }
  }
}
.community {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
}
.community_settings {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  height: 20px;
}

.community {
  padding: 0px 10px 0px 10px;
}

.navigation {
  .list-group {
    .active {
      .icon {
        .path-name {
          fill: #1a73e8;
          fill-opacity: 10;
        }
      }
    }
  }
}

.logout {
  height: 21px;
  width: 21px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  margin-left: 2px;
}

.log-button {
  margin-left: -8.5px;
  position: fixed;
  z-index: 999;
  color: rgba(0, 0, 0, 0.5);
  bottom: 2em;
}
.navigation {
  hr {
    margin-bottom: 0;
  }
}

.nav-bar {
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(115, 143, 147, 0.3);
}

.navigation::-webkit-scrollbar {
  display: none;
}

.nav-collection {
  width: 100%;
  .nav-row {
    align-items: center;
  }
}

.icon-container {
  display: inline-block;
}

.nav-container .navbar{
  display: none;
}

@media (min-width: 320px) and (max-width: 1024px){
  .navigation {
    background: #f5f5f5;
    flex-grow: 1;
    border-right: solid 1px #dfe9f1;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
    max-width: 80vw;
    min-width: 70vw;
    transition: 0.5s;
    z-index: 1022;
  }
  .hide-nav {
    transform: translateX(-105%);
  }  
  .nav-container .navbar{
    display: block;
  }
}
