/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  zoom:90%;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  margin-top: 5%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav-container{

  border-top: 2px solid red;
  box-shadow: 4px 4px 4px #888888;
  background-color: #fff;

}


@font-face
{
font-family: myFancyFont;
src: url('myFancyFont.ttf'),
url('myFancyFont.eot');
}

.donut{
  font-weight: bold;
  font-size: 5rem;
  color:#BD3733;
  font-family: 'myFancyFont', Times, serif;
}
.dropdown-self{
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  box-shadow: 4px 4px 4px #888888; 
}

.icon-color{
  color:#BD3733;
}

.blog-post{
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
}
.lead{
  font-size:1.5rem;
}

.margin{
  margin-left:2rem;
  letter-spacing: .2rem;
  color: blue;
}
.blog-header{
  margin-top: 10%;
}
.write{
  border: 1px solid #E2E2E2;
  box-shadow: 2px 2px 2px #888888;
  color:#BD3733;
}
.align-write{
  margin-right:5%;
  color:yellow;
}

