/*------------------------------------*\
    #Typography
\*------------------------------------*/

//Fonts used in the project
$font-family-Inter: Inter;
$font-family-Qanelas: Qanelas;
$font-family-PlayfairDisplay: Playfair Display;

//General font sizes
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-light: 400;
