.ideas {
  .ideas-title {
    margin-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
  }
  .ideas-container {
    border: solid 1px #dfe9f1;
    max-height: 45vh;
    border-radius: 5px;
    margin: 5px;
    overflow: auto;

    .idea-item {
      display: flex;
      padding: none;
      .image-container {
        flex: 1;
        .user-image {
          width: 30px;
          height: 30px;
        }
      }
      .idea-container {
        flex: 6;
        .idea-title {
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height, or 150% */

          color: #000000;
        }
        .idea-description {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;

          color: rgba(29, 33, 41, 0.5);
        }
      }
    }
  }
}
