.notifications {
  flex: 1;
  overflow: auto;
  border-top: 1px solid #dfe9f1;
  border-left: 1px solid #dfe9f1;
  border-bottom: 1px solid #dfe9f1;
  box-shadow: -1px 2px 2px -1px rgba(0, 0, 0, 0.1);
  .heading-container{
    border-bottom: 1px solid #dfe9f1;
    h5{
      padding-top: 10px;
      margin-bottom: 5px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .all-notifications{
    width:90%;
    margin: 0px auto 29px auto;
    height: 200px;
    overflow-y: auto;

    .list {
      .list-item {
        .icon {
          .image {
            margin-top: 10px;
            width: 40px;
            height: 40px;
          }
        }
        .tag {
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
          border-radius: 100px;
          border: 1px solid #007bff;
          background-color: #1A73E8;
          color: #fff;
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 18px;
          margin-left: 15px;
          margin-top: 12px;
          position: relative;
          bottom: 5px;
          height: 22px;
          width: 120px;
        }
      }
    }
  }
}

::-webkit-scrollbar, tbody::-webkit-scrollbar {
  width: 4.3px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 40px; 
}

::-webkit-scrollbar-thumb, tbody::-webkit-scrollbar-thumb {
  background: #90949c; 
  border-radius: 40px;
}