.organization {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .navigation {
    flex: 0.15;
    border-right: solid 1px #dfe9f1;
  }
  .news {
    flex: 3;
    .notify-user {
      display: flex;
      padding: 20px 0px 20px 30px;
    }
    .posts-profile {
      width: 90.5%;
    }
  }
}
