.organization {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .navigation {
    flex: 0.5;
    border-right: solid 1px #dfe9f1;
  }
  .news {
    flex: 3;
    margin-left: 200px;
    .notify-user {
      display: flex;
      padding: 20px 0px 20px 30px;
    }
  }
  .org{
    display: flex;
    .posts-profile {
      flex: 2;
    }
    .updat{
      margin-top: 40px;
      flex: 0.95;
    }
  }
}
