.organization__container {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: "Inter";
  margin-left: 10%;
  h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter";
  }
  .news {
    margin-left: 2vw;
    flex: 3;
    .notify-user {
      display: flex;
      padding: 20px 10px 20px 30px;
    }
  }
  .org {
    display: flex;
    .posts-profile {
      flex: 2;
    }
    .updat {
      margin-top: 40px;
      flex: 0.95;
    }
  }
  .org-info {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    .details {
      flex-grow: 2;
      margin-top: -1rem;
      h2 {
        margin: 0;
        padding: 10px 0 10px 30px;
      }
      min-height: 30px;
      height: auto;
      display: flex;
      flex-direction: column;
      .categories {
        display: flex;
        margin: 10px 0px 10px 20px;
        .category-type {
          padding: 4px 36px;
          border: solid 1px #007bff;
          border-radius: 100px;
          color: #007bff;
          margin: 0 5px;
          cursor: pointer;
          &.active {
            background: #007bff;
            color: white;
          }
        }
        .ul__container {
          width: 140%;
          margin-top: 10px;
          display: flex;
          .nav__tab {
            .nav__list__container {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              list-style: none;
              border-bottom: 2px solid #eee;
              transition: all 0.5s;
              font-weight: 300;
              color: #262727;

              .nav__single__tab {
                display: inline-block;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                padding-left: 11px;
                padding-right: 15px;
                padding-bottom: 5px;
                margin-left: 19px;
                text-align: center;
                cursor: pointer;

                &.selected {
                  border-bottom: 3px solid #1a73e8;
                  color: #1a73e8;
                }
              }
            }
          }
        }
      }
      .about-us {
        margin: 10px 0px 0 27px;
        .title {
          font-size: x-large;
          color: black;
          font-family: "Inter";
        }
        .subtitle {
          margin: 14px 0 10px 0;
          font-size: larger;
          color: black;
          font-weight: bold;
          font-family: "Inter";
        }
        .short__desc,
        .long__desc {
          font-family: "Inter";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #1d2129;
          text-align: justify;
        }
      }
    }
    .org-updates {
      flex: 1;
      flex-grow: 3;
    }

    .proposal-btn {
      height: 50px;
      width: 90%;
      margin-left: 40px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      border-radius: 100px;
      color: #ffffff;
    }
  }
}
.orgupdatesloading {
  margin-top: -10px;
  margin-left: 30px;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  font-family: "Inter";
}

.navigation::-webkit-scrollbar {
  display: none;
}

.details {
  .tabs__container {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 1024px){
  .organization__container {
    margin-left: 0;
    .news {
      margin: 2vh 0 0 0;
      .notify-user {
        padding: 0;
        justify-content: center;
      }
      .org-info {
        padding: 0;
        margin: 2vh 2vw;
        .proposal-btn {
          margin-left: 0;
          width: 100%;
        }
        .about-us {
          margin: 0 auto;
        }
      }
    }
    .details__content {
      margin-top: 20px;
    }
    .contact {
      h2 {
        display: none;
      }
    }
    .updates {
      h1 {
        display: none;
      }
    }
    .details__proposal {
      width: 100%;
      margin: 10px 0;
      display: flex;
      .details__proposal_btn {
        margin: 0 auto;
        .proposal-btn {
          border-radius: 100px;
        }
      }
    }
  }
  
  
}
