.organization {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .navigation {
    flex: 0.5;
    border-right: solid 1px #dfe9f1;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .news {
    flex: 3;
    .notify-user {
      display: flex;
      padding: 20px 0px 20px 30px;
    }
  }
  .org {
    display: flex;
    .posts-profile {
      flex: 2;
    }
    .updat {
      margin-top: 40px;
      flex: 0.95;
    }
  }
  .org-info {
    display: flex;
    flex-direction: row;
    .posts {
      flex-grow: 2;
      h2 {
        margin: 0;
        padding: 10px 0 10px 30px;
      }
      min-height: 30px;
      height: auto;
      display: flex;
      flex-direction: column;
      .categories {
        display: flex;
        margin: 10px 0px 10px 20px;
        .category-type {
          padding: 4px 36px;
          border: solid 1px #007bff;
          border-radius: 100px;
          color: #007bff;
          margin: 0 5px;
          cursor: pointer;
          &.active {
            background: #007bff;
            color: white;
          }
        }
      }
      .about-us {
        margin: 10px 0px 0 27px;
        .title {
          font-size: x-large;
          color: black;
        }
        .subtitle {
          margin: 14px 0 10px 0;
          font-size: larger;
          color: black;
          font-weight: bold;
        }
        .short__desc, .long__desc {
           font-family: Inter;
           font-style: normal;
           font-weight: normal;
           font-size: 14px;
           line-height: 17px;
           color: #1d2129;
           text-align: justify;
        }
      }
    }
    .org-updates {
      flex: 1;
      flex-grow: 3;
    }
  }
}
.orgupdatesloading {
  margin-top: -10px;
  margin-left: 30px;
}
