.organization {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .events {
      margin-top: 2vh;
      .container {
        .event_header {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 1.5em;
          line-height: 1.3em;
          color: #2D2D2D;
        }
        .card__container {
          max-width: 33.33%;
        }
        .MuiCard-root {
          overflow: hidden;
          height: 42vh;
        }
      }
  }
} 

.event-location1{
  color:rgb(14, 19, 14);
}

.event-location2{
  color:rgb(91, 189, 91);
}

.timing3{
  color:rgb(207, 37, 31);
}

.timing2{
  color:rgb(14, 19, 14);
}

.timing1{
  color:rgb(91, 189, 91);
}

.cancelled{
  background-color: rgb(207, 37, 31);
  width: 10px;
  margin: 1px;
  text-align: center;
  height: 100%;
  font-size: 30px;
}

  .div-upcoming {
    background-color: rgb(91, 189, 91);
    width: 10px;
    margin: 1px;
    text-align: center;
    height: 100%;
    font-size: 30px;
  }

  .div-past {
    background-color: rgb(163, 161, 161);
    width: 10px;
    margin: 1px;
    text-align: center;
    height: 100%;
    font-size: 30px;
  }

  .div2 {
    background-color: #ffffff;
    width: auto;
    text-align: center;
    font-size: 3rem;
  }

  .div3 {
    background-color: #ffffff;
    width: auto;
    text-align: center;
    font-size: 1.45rem;
    margin-left: 5vw;
    margin-right: -12vw;
    .day{
      font-weight: 25px;
    }
    .year{
      color: #5d5d5d;
    }
}

.inside{
    margin-right: 2vw;
    margin-left: 2vw;
  }

.number{
  font-size: 30px;
}
.eventName {
  font-weight: bold;
  color: #000000;;
}

.short-des{
  text-align: justify;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.3em;
  color: #2D2D2D;
  /* white-space: nowrap; */
  max-width: 259px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }

.createdAt{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.event-card{
  max-width: 345px;
  margin-top: 20px;
} 