.aboutUs{
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin:30px;
    padding:10px;
}
.heading{
    font-weight: 600;
    font-size: 28px;
    line-height: 21px;
    margin-top:20px;
    margin-bottom: 15px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom:8px;
}
.post-content{
    font-size: 13px;
    line-height: 21px;
    font-weight:300;
    margin-bottom:10px;
}
