.heading{
    margin-top: 20px;
}
.title{
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    color: #1A73E8;
}
.about{
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2em;
    color: #90949C;
    margin-top:10px;
}

.form-input{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}
.form-content{
    margin-top:-2%;
    margin-bottom: 20px;
    justify-content:space-between;
}
.form-footer{
    margin-top: -6px;
    margin-left: -12px;
    Button{
        width:90px;
        margin-right: 20px;
        margin-bottom: 30px;
        border-radius: 100px;
        font-weight:600;
    }
    .savebtn{
        background-color: #1A73E8;
        background-color: #1A73E8;
        width: 80px;
        height: 4.5vh;
        margin-left: -4px;
        padding: 0;
    }

}
.contain{
    margin-top: -3px;
}
.photo{
    margin-top: 3px;
    height: 43px;
    width: 43px; 
} 
.user{
    margin-top: 2px;
    font-size: 1.1em;
    color: black;    
}
.comment{
    font-size: 0.8em;
    color: rgb(90, 84, 84);
    margin-top: -13px;   
    max-width: 52ch;
    .delete__icon {
        color: rgb(82, 82, 82);
        float: right;
        cursor: pointer;
    }
}

.user_comment{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:space-between;
}