.about_main_content {
  padding: 2.7em;
  .about_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .donut_text {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 2em;

    color: #000000;
  }
  .about_content {
   .about_title {
     font-family: Inter;
     font-style: normal;
     font-weight: 500;
     font-size: 1.3em;
     line-height: 1.5em;
     letter-spacing: 0.3em;
     color: #000000;
   }
    .about_content_text {
      width: 88%;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      line-height: 1.3em;
      color: #2D2D2D;
      text-align: justify;
    }
  }
  .feature_content {
    .feature_title {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 1.3em;
      line-height: 1.5em;
      /* identical to box height */

      letter-spacing: 0.3em;

      color: #000000;
    }
     .feature_content_text {
       width: 88%;
       font-family: Inter;
       font-style: normal;
       font-weight: normal;
       font-size: 1em;
       line-height: 1.3em;
       color: #2D2D2D;
       text-align: justify;
     }
  }
  .switch_step {
    display: flex;
    flex-direction: row-reverse;
    .next_btn {
      width: 9vw;
      height: 5vh;
      background: #1A73E8;
      // border-radius: 100px;
    }
  }
}