.setup_form_main_content {
  padding: 2.7em;
  .setup_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .community_text {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 2em;

    color: #000000;
  }
  .setup_content {
    .form_content {
       .setup_title {
         font-family: Inter;
         font-style: normal;
         font-weight: 500;
         font-size: 1.3em;
         line-height: 1.5em;
         letter-spacing: 0.3em;
         color: #000000;
       }

       .label_text {
         font-family: Inter;
         font-style: normal;
         font-weight: normal;
         font-size: 1.1em;
         line-height: 22px;
         color: #1A73E8;
       }

       .placeholder_text {
         font-family: Inter;
         font-style: normal;
         font-weight: normal;
         font-size: 1em;
         line-height: 20px;
         border: 0.75px solid #90949C;
       }
   }
    .setup_content_field {
      width: 88%;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      line-height: 1.3em;
      color: #2D2D2D;
      text-align: justify;
    }
  }
  .switch_step {
    display: flex;
    flex-direction: row-reverse;
    .next_btn {
      width: 9vw;
      height: 5vh;
      background: #1A73E8;
      // border-radius: 100px;
    }
    .prev_btn {
      width: 9vw;
      height: 5vh;
      background: rgb(250, 251, 252);
      // border-radius: 100px;
      color: #1A73E8;
      margin-right: 1em;
    }
  }
  input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 15px;
    color: #C9C9C9;
  }
  textarea::placeholder {
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 1em;
     line-height: 15px;
     color: #C9C9C9;
  }
}