
header nav#part2{
  background-color: #22262F !important;
  margin-top: 56px;
}
header nav#part3{
  background-color: #22262F !important;
  margin-top: 95px;
}
header nav#part4{
  background-color: #22262F !important;
  margin-top: 130px;
}
.card-ma{
  min-height: 344px;
}
.card-sm{
  height: 172px;;
}
.card-col{
  height: 172px;
}
.column{
  display:flex;
  flex-direction:column;
}
.box{background-color:white;
  display:block;
  box-sizing: border-box;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
header div.phrase-p2{
  width: 100%;
}
form input.form-control{
  margin-top: 7px;
  height: 27px;
}
.pr-text{
  white-space: nowrap;
  overflow-x: hidden;
}
.ev-text{
  line-height: 35px;
  white-space: nowrap;
  overflow-x: hidden;
}
.projects{
  position: fixed;
  width: 255px;
}
.active-cyan-4 .fa {
    background-color: #2196f3;
    border-radius: 2px;
    border: none;
    margin-top: 7px;
    margin-right: 10px;
    height: 27px;
    font-size: 12px;
}
.hr-danger{
  border-top: 3px solid #f44336;
}
.user{
  height: 25px;
  border-radius: 50%;
}
.event{
  height: 30px;
}
.card-subtitle{
  font-size: 1.5vh;
  margin-top: -20px;
  margin-left: 50px;
}
.btn-blue-grey{
  box-shadow: none;
  font-size: .63rem;
  padding: .4rem 1.2rem;
}
.btn-outline-grey{
  box-shadow: none;
  font-size: .55rem;
  padding: .2rem 1.2rem;
}
button.btn-search{
  height: 5px;
}
.btn-rounded{
  border-width: 2px 4px;
  border-radius: 40px;
}
.grey-border textarea {
    margin-left: 5px;
    border: 2px solid #616161;
    height: 45px;
}
#s2{
  display: none;
}
@media (max-width: 990px){
  main{
    margin-top: 45px;;
  }
  header nav#part2{
    display: none;
  }
  header nav#part3{
    display: none;
  }
  header nav#part4{
    display: none;
  }
  #phrase{
    display: none;
  }
}
@media(max-width: 995px){
  #sm-boxes{
    display: none;
  }
}
@media(max-width:1200px) and (min-width:988px){
  #s2{
    display: block;
  }
  #s1{
    display: none;
  }
}
@media (max-width: 988px){
  #s2{
    display: none;
  }
  #s1{
    display: block;
  }
}
