<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>DONUT-feed page</title>
    
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="Sweta">
    <meta name="description" content="DONUT forum">
    <meta name="keywords" content="social media, social network, forum, shop, bootstrap, html5, css3, template, responsive, retina ready">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="./img/forums_image/donut.png.png" type="image/png">

	<!-- ====  Font Awesome ==== -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="./css/forum_plugins.min.css">
    
    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="./css/forums.css">
    
    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div class="wrapper">
        

        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="./img/forums_image/page-header-img/bg.jpg" data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">Forum</h2>
                </div>

               
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Topics List Start -->
                            <div class="topics--list">
                                <table class="table">
                                    <thead class="ff--primary fs--14 text-darkest">
                                        <tr>
                                            <th>Forum</th>
                                            <th>Topics</th>
                                            <th>Post</th>
                                            <th>Frieshness</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="sub-forums.html" class="btn-link">User Interface Design</a></h4>

                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry standard dummy text.</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">12</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">49</p>
                                            </td>
                                            <td>
                                                <p>2 days, 5 hours ago</p>

                                                <a href="member-activity-personal.html" class="topic--author">
                                                    <span class="name">XYZ</span>
                                                    <span class="avatar"><img src="./img/forums_image/topics-img/avatar-01.jpg" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="sub-forums.html" class="btn-link">Front-End Engineering</a></h4>

                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry standard dummy text.</p>

                                                <ul class="subforums nav mt--10 text-darkest">
                                                    <li><i class="fa fa-circle-thin mr--10 text-primary"></i></li>
                                                    <li><a href="topics.html">HTML (12, 245)</a></li>
                                                    <li><a href="topics.html">CSS (21, 108)</a></li>
                                                </ul>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">07</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">12</p>
                                            </td>
                                            <td>
                                                <p>2 days, 5 hours ago</p>

                                                <a href="member-activity-personal.html" class="topic--author">
                                                    <span class="name">ABC</span>
                                                    <span class="avatar"><img src="./img/forums_image/topics-img/avatar-02.jpg" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="sub-forums.html" class="btn-link">Web Development</a></h4>

                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry standard dummy text.</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">05</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">42</p>
                                            </td>
                                            <td>
                                                <p>2 days, 5 hours ago</p>

                                                <a href="member-activity-personal.html" class="topic--author">
                                                    <span class="name">PQR</span>
                                                    <span class="avatar"><img src="./img/forums_image/topics-img/avatar-03.jpg" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="sub-forums.html" class="btn-link">Social Media Marketing</a></h4>

                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry standard dummy text.</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">10</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">50</p>
                                            </td>
                                            <td>
                                                <p>2 days, 5 hours ago</p>

                                                <a href="member-activity-personal.html" class="topic--author">
                                                    <span class="name">UVW</span>
                                                    <span class="avatar"><img src="./img/forums_image/topics-img/avatar-04.jpg" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="sub-forums.html" class="btn-link">Content Marketing</a></h4>

                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry standard dummy text.</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">10</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest">50</p>
                                            </td>
                                            <td>
                                                <p>2 days, 5 hours ago</p>

                                                <a href="member-activity-personal.html" class="topic--author">
                                                    <span class="name">LMN</span>
                                                    <span class="avatar"><img src="./img/forums_image/topics-img/avatar-05.jpg" alt=""></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Topics List End -->
                        </div>
                    </div>
                    <!-- Main Content End -->

                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                       

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Notice</h2>

                            <!-- Text Widget Start -->
                            <div class="text--widget">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some  look even slightly believable.</p>
                            </div>
                            <!-- Text Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Forums</h2>

                            <!-- Links Widget Start -->
                            <div class="links--widget">
                                <ul class="nav">
                                    <li><a href="sub-forums.html">User Interface Design<span>(12)</span></a></li>
                                    <li><a href="sub-forums.html">Front-End Engineering<span>(07)</span></a></li>
                                    <li><a href="sub-forums.html">Web Development<span>(37)</span></a></li>
                                    <li><a href="sub-forums.html">Social Media Marketing<span>(13)</span></a></li>
                                    <li><a href="sub-forums.html">Content Marketing<span>(28)</span></a></li>
                                </ul>
                            </div>
                            <!-- Links Widget End -->
                        </div>
                        <!-- Widget End -->

                       

                        
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->
<footer class="footer--section">
       

            <!-- Footer Extra Start -->
            <div class="footer--extra bg-darker pt--30 pb--40 text-center">
                <div class="container">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Recent Active Members</h2>

                        <!-- Recent Active Members Widget Start -->
                        <div class="recent-active-members--widget style--2">
                            <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200" data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/01.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/02.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/03.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/04.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/05.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/06.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/07.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/08.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/09.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/10.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/11.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/12.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img src="./img/forums_image/widgets-img/recent-active-members/13.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- Recent Active Members Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
            </div>
            <!-- Footer Extra End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p><span>DONUT</span></p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/forums_plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/forums.js"></script>

</body>
</html>