

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Codeuino</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="css/bootstrap4/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="css/home.css">
  </head>
  <body>
    <!-- Header -->
    <header class="header d-flex flex-row justify-content-end align-items-center">
      <!-- Logo -->
      <div class="logo">
        <a href="/">DONUT</a>
      </div>
      <div class="line">
        <p>Codeuino's Open Source Social Platform</p>
      </div>
      <!-- Navigation -->
      <nav class="main_nav justify-self-end">
        <ul class="nav_items">
          <li class="hide"><span>DONUT</span></li>
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="/"><span>Community</span></a></li>
          <li><a href="/"><span>Help</span></a></li>
        </ul>
      </nav>
    </header>
    <!-- Main -->
    <div class="main_content">
      <div class="l1">
        <p>Welcome to Codeuino</p>
      </div>
      <div class="l2">
        <p>Connect, Share & Build</p>
      </div>
      <div class="l3">
        <p>It is an Open Source Social platform which connects every contributor to other open source organizations <br> and work upon various projects of them by following up there feeds.</p>
      </div>
      <div class="desc">
        <button class="button login">LOGIN</button>
        <button class="button sign_up" onclick="showsignup()">SIGN UP</button>
      </div>
    </div>
  </body>
</html>
