<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Codeuino Landing Page</title>

    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

   
    <link href="css/codeuino.css" rel="stylesheet">
	 
	
			 
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">DONUT</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>

        <form action="" class="form-search">
          <input type="search">
          <i class="fa fa-search"></i>
        </form>	  
              
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">INFO</a>
            </li>
          </ul>
        </div>
      </div>
		
		
		
    </nav>

   
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">CODUEINO'S</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">OPEN SOURCE SOCIAL PLATFORM.</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Let's Get Started</a>
          <button type="button" class="btn btn-primary js-scroll-trigger" data-toggle="modal" data-target="#loginSignup">
              Login/SignUp
            </button>
        </div>
      </div>
      <!-- Login/SignUp Modal -->
      <div class="modal fade" id="loginSignup" tabindex="-1" role="dialog" aria-labelledby="loginSignupLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <div id="SignUp" class="container">	
                      <ul class="nav nav-tabs signup-tabs text-center">
                        <li class="active" id="userSignuptab">
                          <a href="#userSignUp" data-toggle="tab"><p>User Sign Up</p></a>
                        </li>
                        <li id="commSignuptab">
                          <a href="#commSignUp" data-toggle="tab"><p>Community Sign Up</p></a>
                        </li>
                      </ul>
                      
                      <div class="tab-content">
                        <div class="tab-pane active" id="userSignUp">
                          <form action="/auth/userlogin" class="signupform" method="post" onsubmit="return(validate());">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required autocomplete="off">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lanme" required autocomplete="off">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" class="form-control" id="email" placeholder="Email Address" required autocomplete="off" name="email" />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="dob">Date of Birth</label>
                                  <input type="date" class="form-control" id="dob" placeholder="Date of Birth- DD/MM/YY" name="dob" required autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="drop">Gender</label><br>
                                  <select name="Gender" id="drop" class="form-control" required>
                                      <option value="" disabled selected>Gender M/F/Other</option>
                                      <option value="1" name="unknown">Don't want to tell</option>
                                      <option value="2" name="male">Male</option>
                                      <option value="3" name="female">Female</option>
                                      <option value="4" name="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="github">Github Profile</label>
                              <input type="text" class="form-control" id="github" placeholder="Github Handle link" required autocomplete="off" name="github" />
                            </div>
                            <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" id="username" placeholder="Email username" required autocomplete="off" name="username" />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="pass">First Name</label>
                                  <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter Password" required autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="cpass">Last Name</label>
                                  <input type="password" class="form-control" id="cpass" placeholder="Confirm Password" required autocomplete="off">
                                </div>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" name="check" id="check">
                              <label class="form-check-label" for="check">
                                  I accept the<small>Code of Conduct</small> of this community
                              </label>
                            </div>
                            <div class="signup-btn">
                              <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                          </form>
                        </div>
                        <div class="tab-pane" id="commSignUp">
                          <h3>Notice the gap between the content and tab after applying a background color</h3>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </header>

   

   
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="img/back.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>ABOUT DONUT</h4>
              <p class="text-black-50 mb-0">This is an Open Source social Platform where people can interact with Open Source expertise around the globe and work on different projects.</p>
            </div>
          </div>
        </div>

        
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/thumb-1920-587777%20(3).jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">WELCOME TO CODEUINO</h4>
                  <p class="mb-0 text-white-50">READY FOR SOME OPEN SOURCE?</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/keyboard-966308_960_720%20(2).jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">ABOUT THE PROJECTS</h4>
                  <p class="mb-0 text-white-50">Projects filler text.</p>
					
					
                  <a href="#projects" class="btn btn-primary js-scroll-trigger">PROJECTS</a>
                </div>
              </div>
            </div>
          </div>
        </div>

		 <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/eventcd%20(2).jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">ABOUT THE EVENTS</h4>
                  <p class="mb-0 text-white-50">Events filler text.</p>
					<a href="#about" class="btn btn-primary js-scroll-trigger">EVENTS</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
 
		<div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/coding-dark-computer-bokeh-illustration%20(2).jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">ABOUT THE SCHOLARSHIPS</h4>
                  <p class="mb-0 text-white-50">Scholarships filler text.</p>
                  <a href="#about" class="btn btn-primary js-scroll-trigger">SCHOLARSHIPS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
		 <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/different%20(2).jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">ABOUT DIFFERENT</h4>
                  <p class="mb-0 text-white-50">Different filler text.</p>
                  <a href="#about" class="btn btn-primary js-scroll-trigger">DIFFERENT</a>
                </div>
              </div>
            </div>
          </div>
        </div> 
		  
      </div>
    </section>

    
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            
            <h2 class="text-white mb-5">Thank you for visiting!</h2>

            

          </div>
        </div>
      </div>
    </section>

    
    <section class="contact-section bg-black">
      <div class="container">

        

          
        <div class="social d-flex justify-content-center">
          
          <a href="https://github.com/codeuino/Social-Platform-Donut" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        DONUT: Codeuino's Social Platform
      </div>
    </footer>

    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    
    <script src="js/codeuino.js"></script>

  </body>

</html>
