

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Codeuino</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="css/main-landing.css" rel="stylesheet">
    </head>
    <body>
        <!-- Start your project here-->
        <!--Main Navigation-->
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark fixed-top">
                <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand font-weight-bold text-uppercase blue-text" href="#">DONUT</a>
                <span id="phrase" class="white-text">Codeuino's Open Source Social Platform</span>
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse justify-content-end" id="basicExampleNav">
                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item flex-center" id="s1">
                        <!-- Search form -->

                      </li>
                      <li class="nav-item flex-center active">
                        <a class="nav-link" href="/profile/profileview/<%=sign.Eid%>">Home
                          <span class="sr-only">(current)</span>
                        </a>
                        </li>
                      <li class="nav-item flex-center">
                        <a class="nav-link"><i class="fa fa-bell white-text"></i></a>
                      </li>
                      <li class="nav-item flex-center">
                        <a class="nav-link"><img src="./images/prof.jpg" class="user" alt=""></a>
                      </li>
                      <li class="nav-item flex-center">
                        <a class="nav-link" href="#">User Name</a>
                      </li>
                      <li class="nav-item flex-center">
                        <a class="nav-link" href="">Logout</a>
                      </li>
                      <!-- Dropdown -->
                      <li class="nav-item flex-center dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show All</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Community</a>
                          <a class="dropdown-item" href="#">Help</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <!-- Search form -->
                          <form class="form-inline" id="s2">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </form>
                        </div>
                      </li>>
                    </ul>
                </div>
                <!-- Collapsible content -->
              </div>
            </nav>
            <!--/.Navbar-->
        </header>
        <!--Main Navigation-->
        <!--Main Layout-->
        <main>
          <div class="container">
            <div class="row pt-5 mt-5 justify-content-center">
              <!--Grid column-->
              <div class="col-lg-6 col-md-6 padding-0">
                <div class="container" id="sm-boxes">
                  <!--Row-->
                  <div class="row pt-0 mt-0 justify-content-center">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 padding-0">
                      <!-- Card -->
                      <a href="./landing.html">
                        <div class="card card-image card-sm" style="background-color: black;">
                          <!-- Content -->
                          <div class="text-white text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Icon</h5>
                              <h5 class="card-title pt-2"><strong>This is card title</strong></h5>
                              <p>Ready for some open source? Let's get started</p>
                            </div>
                          </div>
                          <!-- Content -->
                        </div>
                      </a>
                      <!-- Card -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 padding-0">
                      <!-- Card -->
                      <a href="#">
                        <div class="card card-image card-sm" style="background-color: white;">
                          <!-- Content -->
                          <div class="black-text text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h5 class="pink-text"><i class="fa fa-pie-chart"></i>Icon</h5>
                              <h5 class="card-title pt-2"><strong>This is card title</strong></h5>
                              <p> Welcome to codeuino' DONUT view projects!.</p>
                            </div>
                          </div>
                          <!-- Content -->
                        </div>
                      </a>
                      <!-- Card -->
                    </div>
                    <!--Grid column-->
                  </div>
                  <div class="row pt-0 mt-0 justify-content-center">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 padding-0">
                      <!-- Card -->
                      <a href="#">
                        <div class="card card-image card-sm" style="background-color: white;">

                          <!-- Content -->
                          <div class="black-text text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Icon</h5>
                              <h5 class="card-title pt-2"><strong>This is card title</strong></h5>
                              <p>Ready for some open source? Let's get started</p>
                            </div>
                          </div>
                          <!-- Content -->
                        </div>
                      </a>
                      <!-- Card -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 padding-0">
                      <!-- Card -->
                      <a href="#">
                        <div class="card card-image card-sm" style="background-color: black;">

                          <!-- Content -->
                          <div class="text-white text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h5 class="pink-text"><i class="fa fa-pie-chart"></i>Icon</h5>
                              <h5 class="card-title pt-2"><strong>This is card title</strong></h5>
                              <p> Welcome to codeuino' DONUT view projects!.</p>
                            </div>
                          </div>
                          <!-- Content -->
                        </div>
                      </a>
                      <!-- Card -->
                    </div>
                  </div>
                  <!--Row-->
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-6 col-md-12 padding-0" id="sm-not">
                <!-- Card -->
                <div class="card card-image card-ma" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                  <!-- Content -->
                  <div class="text-white text-center d-flex align-items-center py-5 px-4">
                    <div>
                    </div>
                  </div>
                  <!-- Content -->
                </div>
                <!-- Card -->
              </div>
              <!--Grid column-->
            </div>
            <div class="row pt-5 mt-5">
              <!-- Column -->
              <div class="col-lg-4 col-md-6 mb-4 column">
                <div class="box">
                <!-- Card -->
                  <div class="card card-image" style="background-color: black;">
                    <!-- Title -->
                    <div class="text-white text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h3 class="card-title pt-2"><i class="fa fa-diamond" aria-hidden="true"></i> <strong>Projects</strong></h3>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Card -->
                  <!-- Card -->
                  <div class="card card-image card-col" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center py-5 px-4">
                      <div>
                      </div>
                    </div>
                    <!-- Content -->
                  </div>
                  <!-- Card -->
                  <!-- Card -->
                  <div class="card card-image mb-4" style="background: transparent;">
                    <!-- Content -->
                    <div class="text-black text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Content -->
                </div>

                <div class="box">
                  <!-- Card -->
                  <div class="card card-image" style="background-color: black;">
                    <!-- Title -->
                    <div class="text-white text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h3 class="card-title pt-2"><i class="fa fa-certificate" aria-hidden="true"></i> <strong>Different</strong></h3>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Card -->
                  <!-- Card -->
                  <div class="card card-image mb-4" style="background: transparent;">
                    <!-- Content -->
                    <div class="text-black text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Content -->
                </div>
              </div>
              <!-- Column -->
              <!-- Column -->
              <div class="col-lg-4 col-md-6 mb-4 column">
                <div class="box">
                  <!-- Card -->
                  <div class="card card-image" style="background-color: black;">
                    <!-- Title -->
                    <div class="text-white text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h3 class="card-title pt-2"><i class="fa fa-location-arrow" aria-hidden="true"></i> <strong>Events</strong></h3>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Card -->
                  <!-- Card -->
                  <div class="card card-image card-col" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center py-5 px-4">
                      <div>
                      </div>
                    </div>
                    <!-- Content -->
                  </div>
                  <!-- Card -->
                  <!-- Card -->
                  <div class="card card-image mb-4" style="background: transparent;">
                    <!-- Content -->
                    <div class="text-black text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Content -->
                </div>
              </div>
              <!-- Colomn -->
              <!-- Colomn -->
              <div class="col-lg-4 col-md-6 mb-4 column">
                <div class="box">
                  <!-- Card -->
                  <div class="card card-image" style="background-color: black;">
                    <!-- Title -->
                    <div class="text-white text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h3 class="card-title pt-2"><i class="fa fa-certificate" aria-hidden="true"></i> <strong>Scholarships</strong></h3>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Card -->
                  <!-- Card -->
                  <div class="card card-image mb-4" style="background: transparent;">
                    <!-- Content -->
                    <div class="text-black text-center d-flex align-items-center py-3 px-4">
                      <div>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                        <h5 class="card-title pt-2"><img src="./images/prof.jpg" class="user" alt=""> <strong>Projects</strong></h5>
                      </div>
                      <!-- Title -->
                    </div>
                  </div>
                  <!-- Content -->
                </div>
              </div>
              <!-- Colomn -->
            </div>
          </div>
        </main>
        <!--Main Layout-->

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
    </body>
</html>
