

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Codeuino</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="css/bootstrap4/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
      .signup{
      display: block;
      }
    </style>
    <!--Calender-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#datepicker").datepicker();
      });
    </script>
    <script src="js/signup_validator.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header d-flex flex-row justify-content-end align-items-center">
      <!-- Logo -->
      <div class="logo">
        <a href="/">DONUT</a>
      </div>
      <div class="line">
        <p>Codeuino's Open Source Social Platform</p>
      </div>
      <!-- Navigation -->
      <nav class="main_nav justify-self-end">
        <ul class="nav_items">
          <li class="hide"><span>DONUT</span></li>
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="/"><span>Community</span></a></li>
          <li><a href="/"><span>Help</span></a></li>
        </ul>
      </nav>
    </header>
    <!-- Sign Up -->
    <div class="signup">
      <div class="phrase l1">
        <p>
          SIGNING UP AS A <n>USER</n>!
        <p style="font-size:40px"> Thanks for signing up  <%= user.fname %> you can now log in</p>
        </p>
      </div>
      <div class="form">
        <form action="/" method="post"  name="myForm" onsubmit="return(validate());">
          <div class="top-row">
            <div class="field-wrap">
              <input type="text" placeholder="First Name" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <input type="text" placeholder="Last Name" required autocomplete="off"/>
            </div>
          </div>
          <div class="field-wrap">
            <input type="email" name="EMail" placeholder="Email Address" required autocomplete="off"/>
          </div>
          <div class="top-row">
            <div class="field-wrap">
              <input id="datepicker" placeholder="Date of Birth- DD/MM/YY" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
              <select name="Gender" id="drop" required>
                <option value="" disabled selected>Gender M/F/Other</option>
                <option value="1">Don't want to tell</option>
                <option value="2">Male</option>
                <option value="3">Female</option>
                <option value="4">Other</option>
              </select>
            </div>
          </div>
          <div class="field-wrap">
            <input type="text" placeholder="Github Handle Link" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <input type="text" placeholder="Username" required autocomplete="off"/>
          </div>
          <div class="top-row">
            <div class="field-wrap">
              <input type="password" id="pass" placeholder="Password" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <input type="password" id="cpass" placeholder="Confirm Password" required autocomplete="off"/>
            </div>
          </div>
          <div class="field-wrap">
            <label class="container">I accept the <i>Code of Conduct</i> of this community
            <input type="checkbox" checked="checked" name="check" id="check">
            <span class="checkmark"></span>
            </label>
          </div>
          <button type="submit" class="button-block">Sign In</button>
        </form>
      </div>
    </div>
  </body>
</html>
