.settings {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Inter;

  .navigation {
    flex: 0.5;
    border-right: solid 1px #dfe9f1;
  }
  .setting-sidebar {
    border-left: solid 1px #dfe9f1;
  }

  .settings-content {
    flex: 3;
  }
  .options {
    color: rgba(0, 0, 0, 0.5);
  }
}
