.settings {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;

  .navigation {
    left: -1px;
    top: -1px;
    height: 100vh;
    border-right: 1px solid #CCCCCC;
    box-sizing: border-box;
  }
  .setting-sidebar {
    border-left: solid 1px #dfe9f1;
  }

  .settings-content {
    flex: 3;
  }
  .options {
    color: rgba(0, 0, 0, 0.5);
  }
}
