.settings {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;

  .setting__sidebar {
    border-left: solid 1px #dfe9f1;
  }

  .settings__content {
    flex: 3;
    margin-left: 13vw;
  }
  .options {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 320px) and (max-width: 1024px){
  .settings {
    .settings__content {
      margin-left: 0;
    }
  }
}
