.settings__right__container {
  display: flex;
 .settings__left__nav {
  margin-top: 38px;
  margin-left: 10px;
 }
 .settings__right__content {
  width: 80vw;
  max-width: 75%;
  margin-top: 4vh;
  margin-left: 21px;
  .settings__header{
    .settings__header__text {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 1.3em;
      line-height: 21px;
      letter-spacing: 0.25px;
      color: #2D2D2D;
      padding-bottom: 7px;
    }
  }
  .right__setting__option__content {
    width: 56vw;
    .deactivate___settings__btn {
      &:hover {
        background-color: #ffffff;
      }
      .deactivate__text {
        font-size: 12px;
        padding: 2px;
        color: #eb5757;
      }
    }
    .disable__link {
      pointer-events: none;
    }
  }
 }
}

@media (min-width: 320px) and (max-width: 1024px){
  .settings__right__container {
    flex-flow: column;
    padding: 2.5vh 2.5vw;
   .settings__left__nav {
     flex: 1;
     margin: 0;
     padding: 0;
   }
   .settings__right__content {
    flex: 3;
    margin: 4vh 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    .right__setting__option__content {
      width: 100%;
      .row {
        margin: 0;
        padding: 0;
      }
    }
   }
  }
}
