

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Codeuino</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="css/comm_dashboard.css" rel="stylesheet">
    </head>
    <body>
        <!--Main Layout-->
        <main>
          <!-- Intro Section -->
          <div class="container-fluid">
            <div class="row">

              <!--Grid column-->
              <div class="col-lg-2 col-md-4 col-nopadding mb-4 pt-5 mt-3">
                <div class="on-collapse">
                  <div class="btn-group">
                    <i class="fa fa-navicon" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="no-collapse">
                  <!-- Small button group -->
                  <div class="btn-group">
                      <a class="dropdown-toggle" data-boundary="viewport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="icon" class="fa fa-calendar-o" aria-hidden="true" style="height: 38px; width: 38px; line-height: 38px; border-radius: 50%; text-align: center; background-color: rgb(255, 255, 255);"></i>  &emsp; Jaskirat Singh
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>

                  <hr class="my-4">

                  <!-- Small button group -->
                  <div class="btn-group">
                    <a>
                      <i class="fa fa-home" aria-hidden="true"></i> &emsp; Home
                    </a>
                  </div>
                  <!-- Small button group -->
                  <div class="dash-link active">
                    <a href="#dashboard" class="btn-group">
                      <i class="fa fa-money" aria-hidden="true"></i> &emsp; Dashboard
                    </a>
                  </div>
                  <!-- Small button group -->
                  <div class="dash-link">
                    <a href="#projectCards" class="btn-group">
                      <i class="fa fa-exchange" aria-hidden="true"></i> &emsp; Project Cards
                    </a>
                  </div>
                  <!-- Small button group -->
                  <div class="dash-link">
                    <a href="#other" class="btn-group">
                      <i class="fa fa-exchange" aria-hidden="true"></i> &emsp; Other
                    </a>
                  </div>
                  <!-- Small button group -->
                  <div class="dash-link">
                    <a href="#other2" class="btn-group">
                      <i class="fa fa-exchange" aria-hidden="true"></i> &emsp; Other2
                    </a>
                  </div>

                  <hr class="my-4">
                  <!-- Small button group -->
                  <div class="btn-group">
                    <p class="font-weight-bold">
                      Badges
                    </p>
                  </div>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-10 col-md-8 dash-content pt-5 mt-3">
                <div class="container-fluid justify-content-center" id="dashboard">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <!-- Search form -->
                      <form class="form-inline">
                          <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search">
                      </form>
                    </div>
                    <div class="col-lg-8 col-md-4 col-sm-12">
                      <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-book" aria-hidden="true"></i></a>
                      <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-bell" aria-hidden="true"></i></a>
                      <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <hr class="my-4">
                  <div class="row mt-4">
                      <div class="col-md-10">
                          <h1 class="h1-responsive">Dashboard</h1>
                          <!--Card-->
                          <div class="card card-bod mb-4">
                            <!--Card content-->
                            <div class="container-fluid card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <!--Title-->
                                  <a class="card-title mb-2">Project 2</a>
                                </div>
                              </div>
                              <!--Text-->
                              <div class="row mt-2">
                                <div class="col-md-12">
                                  <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--/.Card-->

                      <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p class="card-text">Dashboards will display several of your projects’ progress chart and its latest status in one view.</p>

                      <!--Card-->
                      <div class="card card-bod mb-4">
                        <!--Card content-->
                        <div class="container-fluid card-body">
                          <!--Text-->
                          <div class="row mt-2">
                            <div class="col-md-12">
                              <p class="card-text"><b>Tip:</b> please work</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--/.Card-->
                      <div class="row mt-4 mb-4 justify-content-center">
                          <div class="col-md-6">
                      <!--Card Regular-->
                        <div class="card card-bod card-cascade-narrower">

                          <!--Card image-->
                          <div class="view view-cascade overlay">
                            <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="narrower">
                            <a>
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <!--/.Card image-->
                        </div>
                              <!--Card content-->
                              <div class="card-body card-bod card-body-cascade text-center">
                                <!--Title-->
                                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                                <h5>Web developer</h5>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                                  recusandae. Facere modi sunt, quod quibusdam.
                                </p>

                              </div>
                              <!--/.Card content-->

                        </div>
                        <!--/.Card Regular-->
                    </div>
                        </div>
                      </div>
                    </div>

                <div class="container-fluid justify-content-center" id="projectCards">
                      <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <!-- Search form -->
                          <form class="form-inline">
                              <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search">
                          </form>
                        </div>
                        <div class="col-lg-8 col-md-4 col-sm-12">
                          <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-book" aria-hidden="true"></i></a>
                          <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-bell" aria-hidden="true"></i></a>
                          <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="row mt-4 justify-content-center">
                          <div class="col-md-3">
                              <h1 class="h1-responsive">Project Cards</h1>
                              <!--Card-->
                              <div class="card card-bod mb-4">
                                <!--Card content-->
                                <div class="container-fluid card-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <!--Title-->
                                      <a class="card-title mb-2">Project 2</a>
                                    </div>
                                  </div>
                                  <!--Text-->
                                  <div class="row mt-2">
                                    <div class="col-md-12">
                                      <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--/.Card-->

                              <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              <p class="card-text">Dashboards will display several of your projects’ progress chart and its latest status in one view.</p>

                              <!--Card-->
                              <div class="card card-bod mb-4">
                                <!--Card content-->
                                <div class="container-fluid card-body">
                                  <!--Text-->
                                  <div class="row mt-2">
                                    <div class="col-md-12">
                                      <p class="card-text"><b>Tip:</b> please work</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--/.Card-->

                              <!--Card Regular-->
                                <div class="card card-bod card-cascade-narrower">

                                  <!--Card image-->
                                  <div class="view view-cascade overlay">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="narrower">
                                    <a>
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>
                                  <!--/.Card image-->
                                </div>
                                      <!--Card content-->
                                      <div class="card-body card-bod card-body-cascade text-center">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                                        <h5>Web developer</h5>

                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                                          recusandae. Facere modi sunt, quod quibusdam.
                                        </p>

                                      </div>
                                      <!--/.Card content-->

                                </div>
                                <!--/.Card Regular-->
                          <div class="col-md-3">
                              <!-- Card Dark -->
                                <div class="card mb-4">

                                 <!-- Card image -->
                                 <div class="view overlay">
                                   <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
                                   <a>
                                     <div class="mask rgba-white-slight"></div>
                                   </a>
                                 </div>

                                 <!-- Card content -->
                                 <div class="card-body elegant-color white-text rounded-bottom">

                                   <!-- Social shares button -->
                                   <a class="activator waves-effect mr-4"><i class="fa fa-share-alt white-text"></i></a>
                                   <!-- Title -->
                                   <h4 class="card-title">Card title</h4>
                                   <hr class="hr-light">
                                   <!-- Text -->
                                   <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                   <!-- Link -->
                                   <a href="#!" class="white-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>

                                 </div>

                                </div>
                                <!-- Card Dark -->
                                <!-- Card -->
                                <div class="card">

                                  <!-- Card image -->
                                  <div class="view overlay">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
                                    <a>
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>

                                  <!-- Button -->
                                  <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fa fa-chevron-right pl-1"></i></a>

                                  <!-- Card content -->
                                  <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="card-title">Card title</h4>
                                    <hr>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                  </div>

                                  <!-- Card footer -->
                                  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                                    <ul class="list-unstyled list-inline font-small">
                                      <li class="list-inline-item pr-2 white-text"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
                                      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-comments-o pr-1"></i>12</a></li>
                                      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fa fa-facebook pr-1"> </i>21</a></li>
                                      <li class="list-inline-item"><a href="#" class="white-text"><i class="fa fa-twitter pr-1"> </i>5</a></li>
                                    </ul>
                                  </div>

                                </div>
                                <!-- Card -->
                          </div>
                          <div class="col-md-3">
                              <!-- Card Light -->
                                <div class="card card-bod mb-4">

                                  <!-- Card image -->
                                  <div class="view overlay">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" alt="Card image cap">
                                    <a>
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>

                                  <!-- Card content -->
                                  <div class="card-body">

                                    <!-- Social shares button -->
                                    <a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>
                                    <!-- Title -->
                                    <h4 class="card-title">Card title</h4>
                                    <hr>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!-- Link -->
                                    <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="fa fa-angle-double-right"></i></h5></a>

                                  </div>

                                </div>
                                <!-- Card Light -->
                                <!-- Card -->
                                <div class="card card-bod">

                                  <!-- Card image -->
                                  <div class="view overlay">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                                    <a href="#!">
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>

                                  <!-- Card content -->
                                  <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="card-title">Card title</h4>
                                    <!-- Text -->
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!-- Button -->
                                    <a href="#" class="btn btn-primary">Button</a>

                                  </div>

                                </div>
                                <!-- Card -->
                        </div>
                        </div>
                      </div>

                <div class="container-fluid justify-content-center" id="other">

                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <!-- Search form -->
                      <form class="form-inline">
                          <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search">
                      </form>
                    </div>
                    <div class="col-lg-8 col-md-4 col-sm-12">
                      <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-book" aria-hidden="true"></i></a>
                      <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-bell" aria-hidden="true"></i></a>
                      <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <hr class="my-4">
                  <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                      <div class="box">
                        <!-- Card -->
                        <div class="card card-image" style="background-color: black;">
                          <!-- Title -->
                          <div class="text-white text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h3 class="card-title pt-2"><i class="fa fa-diamond" aria-hidden="true"></i> <strong>Organization 2</strong></h3>
                            </div>
                            <!-- Title -->
                          </div>
                        </div>
                        <!-- Card -->
                        <!--Card-->
                        <div class="card">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card" style="background-color: navy;">
                          <!--Card content-->
                          <div class="container-fluid card-body text-white">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 1</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                          <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text text-white">Description of the project Lorem ipsum dolor Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text text-white"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Follow</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card mb-4" style="background-color: navy;">
                          <!--Card content-->
                          <div class="container-fluid card-body text-white">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 1</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                          <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text text-white">Description of the project Lorem ipsum dolor Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text text-white"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Follow</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->

                      </div>

                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="box">
                        <!-- Card -->
                        <div class="card card-image" style="background-color: black;">
                          <!-- Title -->
                          <div class="text-white text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h3 class="card-title pt-2"><i class="fa fa-diamond" aria-hidden="true"></i> <strong>Organization 1</strong></h3>
                            </div>
                            <!-- Title -->
                          </div>
                        </div>
                        <!-- Card -->
                        <!--Card-->
                        <div class="card">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card" style="background-color: navy;">
                          <!--Card content-->
                          <div class="container-fluid card-body text-white">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 1</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                          <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text text-white">Description of the project Lorem ipsum dolor Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text text-white"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Follow</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card mb-4">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                      </div>

                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="box">
                        <!-- Card -->
                        <div class="card card-image" style="background-color: black;">
                          <!-- Title -->
                          <div class="text-white text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h3 class="card-title pt-2"><i class="fa fa-diamond" aria-hidden="true"></i> <strong>Organization 3</strong></h3>
                            </div>
                            <!-- Title -->
                          </div>
                        </div>
                        <!-- Card -->
                        <!--Card-->
                        <div class="card">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card" style="background-color: navy;">
                          <!--Card content-->
                          <div class="container-fluid card-body text-white">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 1</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                          <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text text-white">Description of the project Lorem ipsum dolor Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text text-white"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Follow</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card mb-4">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="box">
                        <!-- Card -->
                        <div class="card card-image" style="background-color: black;">
                          <!-- Title -->
                          <div class="text-white text-center d-flex align-items-center py-3 px-4">
                            <div>
                              <h3 class="card-title pt-2"><i class="fa fa-diamond" aria-hidden="true"></i> <strong>Organization 4</strong></h3>
                            </div>
                            <!-- Title -->
                          </div>
                        </div>
                        <!-- Card -->
                        <!--Card-->
                        <div class="card">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card" style="background-color: navy;">
                          <!--Card content-->
                          <div class="container-fluid card-body text-white">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 1</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                          <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text text-white">Description of the project Lorem ipsum dolor Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text text-white"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Follow</a>
                              <a href="#" class="text-white btn btn-outline-white btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card mb-4">
                          <!--Card content-->
                          <div class="container-fluid card-body">
                            <div class="row">
                              <div class="col-md-12">
                                <!--Title-->
                                <a class="card-title mb-2">Project 2</a>
                                <!-- Default button -->
                                <button type="button" class="btn btn-rt btn-default btn-sm">Organization Name</button>
                              </div>
                            </div>
                            <!--Text-->
                            <hr class="hr-danger wow">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="card-text"><b>Languages:</b> Language 1, Language 2, Language 3</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 103</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded"><i class="fa fa-star" aria-hidden="true"></i> 55</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Follow</a>
                              <a href="#" class="btn btn-outline-grey btn-rounded">Comment</a>
                            </div>
                          </div>
                        </div>
                        <!--/.Card-->
                      </div>
                    </div>
                </div>
                </div>
                  <div class="container-fluid justify-content-center" id="other2">
                      <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <!-- Search form -->
                          <form class="form-inline">
                              <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search">
                          </form>
                        </div>
                        <div class="col-lg-8 col-md-4 col-sm-12">
                          <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-book" aria-hidden="true"></i></a>
                          <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-bell" aria-hidden="true"></i></a>
                          <button type="button" class="btn btn-rt btn-sm black-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="row mt-4">
                          <div class="col-md-10">
                              <h1 class="h1-responsive">Dashboard</h1>
                              <!--Card-->
                              <div class="card card-bod mb-4">
                                <!--Card content-->
                                <div class="container-fluid card-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <!--Title-->
                                      <a class="card-title mb-2">Project 2</a>
                                    </div>
                                  </div>
                                  <!--Text-->
                                  <div class="row mt-2">
                                    <div class="col-md-12">
                                      <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--/.Card-->

                          <p class="card-text">Description of the project Lorem  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <p class="card-text">Dashboards will display several of your projects’ progress chart and its latest status in one view.</p>

                          <!--Card-->
                          <div class="card card-bod mb-4">
                            <!--Card content-->
                            <div class="container-fluid card-body">
                              <!--Text-->
                              <div class="row mt-2">
                                <div class="col-md-12">
                                  <p class="card-text"><b>Tip:</b> please work</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--/.Card-->
                          <div class="row mt-4 mb-4 justify-content-center">
                              <div class="col-md-6">
                          <!--Card Regular-->
                            <div class="card card-bod card-cascade-narrower">

                              <!--Card image-->
                              <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="narrower">
                                <a>
                                  <div class="mask rgba-white-slight"></div>
                                </a>
                              </div>
                              <!--/.Card image-->
                            </div>
                                  <!--Card content-->
                                  <div class="card-body card-bod card-body-cascade text-center">
                                    <!--Title-->
                                    <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                                    <h5>Web developer</h5>

                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                                      recusandae. Facere modi sunt, quod quibusdam.
                                    </p>

                                  </div>
                                  <!--/.Card content-->

                            </div>
                            <!--/.Card Regular-->
                        </div>
                            </div>
                          </div>
                        </div>
                <!--Grid column-->
            </div>
              </div>
              </div>
        </div>
        </main>
        <!--Main Layout-->

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

        <script src="js/dashboard.js"></script>
    </body>
</html>
