<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DONUT</title>
        <style>
        html,body {
            margin: 0;
            padding: 0;
             width: 100%;
        }

        body {
            font-family: Quicksand;
        }

        /* navbar starts*/

        header {
            width: 100%;
            height: 70px;
            background-color: black;
        }

        .logo {
            position: fixed;
            float: left;
            margin: 20px 36px;
            color: darkturquoise;
            font-weight: bold;
            font-size: 24px;
        }

        nav {
            position: fixed;
            width: 100%;
        }

        nav ul {
            list-style: none;
            background: rgba(0,0,0,0);
            overflow: hidden;
            color: #fff;
            padding: 0;
            text-align: center;
            margin: 0;
            transition: 1s;
        }

        nav.black ul {
            background: #000;
            height: 63px;
        }

        nav .menu ul li{
            display: inline;
        }

        nav .menu ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            line-height: 3.5em;
            padding: 8px;
        }

        .menu ul li a:hover {
            background-color: darkturquoise;
            color: black;
        }

        .menu-icon{
            width: 100%;
            background: #000;
            text-align: right;
            box-sizing: border-box;
            padding: 15px 24px;
            cursor: pointer;
            color: #fff;
            display: none;
        }

        .search input[type=text] {
            height: 30px;
            display: inline-block;
            float: right;
            border: none;
            margin-top: -3.3%;
            margin-right: 2%;
            font-size: 17px;
            overflow: hidden;
        }

        @media(max-width: 750px) {
            .logo {
                position: fixed;
                top: 0;
                margin-top: 16px;
            }

            nav ul {
                max-height: 10px;
                background: #000;
            }

            nav.black ul {
                background: #000;
            }

            .showing {
                max-height: 20em;
            }

            nav ul li {
                box-sizing: border-box;
                width: 100%;
                padding: 24px 0;
                text-align: center;
            }
            nav .menu ul li a {
                line-height: 2em;
                display:grid;
            }
            .menu-icon {
                display: block;
            }
            .search input[type=text] {
                float: none;
                display: block;
                font-size: 23px;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
            }
            .search input[type=text] {
                border: 1px solid #ccc;
            }
        }
            }
             nav .black{
                height: 60px;
             }
        }
        /* nav bar ends*/

        .content {
            margin-left: 20px;
        }

        .profile {
            max-width: 300px;
            margin: 20px 0 0 20px;
        }

        /* profile card starts*/

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            text-align: center;
        }


        .card img{
            max-width: 300px;
        }
        .card h1 {
            text-align: center;
        }

        .card .title {
            color: grey;
            font-size: 18px;
            text-align: center;
        }
        .card .intro {
            text-align: center;
        }

         .card a {
            text-decoration: none;
            font-size: 22px;
            color: black;
            padding-left: 12px;

        }
        .icon {
            padding-bottom: 7px;
        }


        /* profile card ends*/

        /* projects card starts*/

        .project {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 20px 0 0 0;
            max-width: 300px;

        }
        .project h1 {
            text-align: center;

        }
        .project ul li {
            list-style-type: none;
             text-align: center;
            padding-right: 30px;
            padding-bottom: 5px;
        }

        /* project card ends*/

        /* feed starts */
        .comp-feed{
            width:60%;
            margin-left:30%;
            margin-top: -37%;

        }
        .comp-feed .feed{
            float: right;
        }
        .feed {
            width: 700px;
            float: right;
             box-shadow: 0 4px 8px 4px rgba(0, 0.2, 0, 0.2);
            margin-right: 25%;
            margin-bottom: 2%;

        }

        .feed h2 {
            padding-left: 5%;
        }

        .feed hr {
            margin-left: 4%;
            margin-right: 4%;
            margin-top: -1%;
            height: 3px;
            background-color: cornflowerblue;
        }
        .feed h5 {
            padding-left: 5%;
            margin-top: -2%;
            color: grey;
        }

        .description {
            margin-left: 4%;
            height: 100px;
            font-size: 20px;
        }

        .feed ul li {
            list-style-type: none;
            display: inline;
        }

        .feed ul li i {
            font-size: 20px;
            padding-right: 4%;
            color: black;
        }


        @media(max-width: 750px) {
            .card {
                margin-top: 25%;
                margin-left: 0;
                float: none;

            }
            .profile {
                margin-left: 10%;
            }

            .comp-feed{
                margin-top: 0;
                width: 20%;
                margin-left: 10%;
            }
            .feed {
                width: 300px;
                margin-right: 0;
                float: none;
            }
            .comp-feed .feed{
                float: none;
            }
            .feed ul li i {
                font-size: 20px;
                padding-right: 4%;
                color: black;
                padding-bottom: 5%
            }

            .feed h2 {
                padding-left: 5%;
                padding-top: 3%;
            }

        }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Added icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
            <!-- navbar starts-->
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">
                        DONUT
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="profileview/<%=user.Eid%>">Home</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>

                </nav>
                <!-- nav bar ends-->
            </header>
        </div>
        <div class="content">
            <div class="profile">
                <!-- profile card starts-->
                <div class="card">
                    <img src="images/i1.jpeg" alt="Profile Pic">
                    <h1><%=user.fname%> <%=user.lname%></h1>
                    <p class="title">Student, Harvard University</p>
                    <p class="intro">I am senior year computer science student who love to code.I am also an open source contributor.</p>
                    <div class="icon">
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
        <!-- profile card ends-->

        <!-- projects card starts-->

                <div class="project">
                    <h1>Languages</h1>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>NodeJs</li>
                    </ul>
                </div>
            </div>
        <!-- project card ends -->

        <!-- feed starts-->
            <div class="comp-feed">
            <div class="feed">
                <h2>Username</h2>
                <h5>11:40 am   Tuesday</h5>
                <hr>
                <p class="description">User added an open source project named Zues to donut platform.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-hand-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-hand-o-down"></i></a></li>
                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                </ul>
            </div>

            <div class="feed">
                <h2>Username</h2>
                <h5>11:40 am   Tuesday</h5>
                <hr>
                <p class="description">User added an open source project named Zues to donut platform.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-hand-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-hand-o-down"></i></a></li>
                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                </ul>
            </div>

            <div class="feed">
                <h2>Username</h2>
                <h5>11:40 am   Tuesday</h5>
                <hr>
                <p class="description">User added an open source project named Zues to donut platform.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-hand-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-hand-o-down"></i></a></li>
                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                </ul>
            </div>

            <div class="feed">
                <h2>Username</h2>
                <h5>11:40 am   Tuesday</h5>
                <hr>
                <p class="description">User added an open source project named Zues to donut platform.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-hand-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-hand-o-down"></i></a></li>
                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                </ul>
            </div>

            <div class="feed">
                <h2>Username</h2>
                <h5>11:40 am   Tuesday</h5>
                <hr>
                <p class="description">User added an open source project named Zues to donut platform.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-hand-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-hand-o-down"></i></a></li>
                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                </ul>
            </div>

            <div class="feed">
                <h2>Username</h2>
                <h5>11:40 am   Tuesday</h5>
                <hr>
                <p class="description">User added an open source project named Zues to donut platform.</p>
                <ul>
                    <li><a href="#"><i class="fa fa-hand-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-hand-o-down"></i></a></li>
                    <li><a href="#"><i class="fa fa-comments"></i></a></li>
                </ul>
            </div>

            </div>
            <!-- feed ends-->

        </div>
    <script>

        //Menu toggle-button

        $(document).ready(function() {
            $(".menu-icon").on("click",function(){
                $("nav ul").toggleClass("showing");
            });
        });

        //Scrolling Effect

        $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            };
        });


    </script>

    </body>
</html>
