<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet">
  <!-- Your custom styles (optional) -->  
  <link href="/css/error.css" type="text/css" rel="stylesheet">
  <title>404</title>
</head>
<body>
    <section id="not-found">
      <div id="title">OOPS!!</div>
      <div class="circles">
        <p>404<br>
         <small>PAGE NOT FOUND<br>
           <a class="btn btn-big btn-info" href="/">Go Back</a>
          </small>
        </p>
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
      </div>
    </section>
</body>
</html>