.contact {
    flex: 1 1;
    flex-grow: 3;
    .contact-us {
        max-height: 400px;
        border: solid 1px #dfe9f1;
        overflow: auto;
        margin-bottom: 5px;
        .email-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .designation {
                text-align: right;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 650;
            }
            .initial {
                color: rgba(0, 0, 0, 0.5);
                font-weight: 550;
            }
            .hidden {
                visibility: hidden;
            }
            .email-info {
                display: flex;
                flex-direction: column;
                .info {
                    display: flex;
                    flex-direction: row;
                    .avatar {
                        width: 25px;
                        height: 25px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
