.contact {
    flex: 1 1;
    flex-grow: 3;
    .contact-us {
        max-height: 400px;
        border: solid 1px #dfe9f1;
        overflow: auto;
        margin-bottom: 5px;
        .contact__content {
            display: flex;
            flex-direction: row;
            margin-bottom: 1vh;
            .designation {
                color: rgba(0, 0, 0, 0.5);
                font-weight: bold;
            }
            .initial {
                color: rgba(0, 0, 0, 0.5);
                font-weight: 550;
                flex: 1;
            }
            .data_container {
                flex: 2;
            }
            .data {
                display: block;
            }
            .hidden {
                visibility: hidden;
            }
            .contact__content__collection {
                flex: 3;
            }
            .contact_item {
                display: flex;
                padding: 0;
                border: 0;
                margin-bottom: 1rem;
                div {
                    margin-right: 10px;
                }
            }
        }
    }
}
