.updates {
  min-height: 300px;
  height: 400px;
  margin: 20px 0;
  overflow: auto;
  h1 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
  }
  .org-updates {
    min-height: 300px;
    height: auto;
    border: solid 1px #dfe9f1;
    .notification {
      display: flex;
      border-bottom: solid 1px #dfe9f1;
      .image {
        padding: 14px 14px;
      }
      .img-desc {
        h2 {
          font-size: 22px;
          font-weight: bold;
        }
        p {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}
