.updates {
  min-height: 300px;
  height: 400px;
  margin: 30px 0 0 40px;
  h1 {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
  }
  .org-updates {
    min-height: 300px;
    max-height: 400px;
    border: solid 1px #dfe9f1;
    overflow: auto;
    .img-desc {
      h2 {
        font-size: 22px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        margin: 0;
      }
    }
    .image {
      padding: 14px 14px;
    } 
  }
}

