.user-detail {
  display: flex;
  flex-direction: row;
  border: solid 1px #dfe9f1;
  align-items: center;
  height: 268px;
  .user-image {
    text-align: center;
    margin: 35px 10px;
    .edit-option {
      margin-top: 10px;
      border-radius: 20px;
      font-size: 14px;
      .useredit {
        margin-top: 10px;
        border-radius: 20px;
        font-size: 14px;
      }
    }
    .user-pic {
      display: inline-block;
      .userpic {
        width: 182px;
        height: 182px;
      }
    }
  }
  .user-data {
    flex: 3;
    padding: 10px 14px;
    h1 {
      color: #0069d9;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .profession {
      color: #748391;
      font-size: 14px;
      margin: 4px 0;
      padding: 0;
    }
    .place {
      color: #2c3e50;
      font-size: 12px;
      margin: 4px 0;
      padding: 0;
    }
    .desc {
      color: #5d5d5d;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    .social-icons {
      .btn-primary {
        margin: 5px 7px 0 0;
        padding: 0.7em;
        font-size: 14px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 3px;
        width: 10vw;
        height: 2.5em;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8em;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}

.user-details {
  .user-data {
    h1 {
      .btn-primary{
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 80px;
        height: 35px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}

