.user-detail {
  display: flex;
  flex-direction: row;
  border: solid 1px #dfe9f1;
  align-items: center;
  height: 268px;
  min-width: 58%;
  border-bottom: 1px solid #dfe9f1;
  box-shadow: -1px 2px 2px -1px rgba(0, 0, 0, 0.1);
  .user-image {
    text-align: center;
    margin: 35px 10px;
    .edit-option {
      margin-top: 10px;
      // border-radius: 20px;
      font-size: 14px;
      .useredit {
        margin-top: 10px;
        // border-radius: 20px;
        font-size: 14px;
      }
    }
    .user-pic {
      display: inline-block;
      .userpic {
        width: 182px;
        height: 182px;
      }
    }
  }
  .user-data {
    flex: 3;
    padding: 10px 14px;
    h1 {
      color: #1a73e8;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      font-family: "Inter";
    }
    .profession {
      margin: 4px 0;
      padding: 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #1d2129;
      text-align: justify;
    }
    .place {
      color: #2c3e50;
      font-family: "Inter";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #1d2129;
      text-align: justify;
      margin: 4px 0;
      padding: 0;
    }
    .desc {
      font-family: "Inter";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #1d2129;
      text-align: justify;
      margin: 0;
      padding: 0;
    }
    .social-icons {
      .btn-primary {
        margin: 5px 7px 0 0;
        padding: 0.7em;
        font-size: 14px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 3px;
        width: 10vw;
        height: 2.5em;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8em;
        line-height: 17px;
        text-align: center;
      }
    }
    .fa_icon__container {
      display: flex;
      justify-content: flex-end;
      margin-top: -10vh;
      .fa__icon {
        font-size: 30px;
        padding: 3px;
        cursor: pointer;
      }
    }
    .user__infos {
      padding: 5px;
    }
  }
}

.user-details {
  .user-data {
    h1 {
      .btn-primary{
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 80px;
        height: 35px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}

