.user-details {
  display: flex;
  flex-direction: row;
  border: solid 1px #dfe9f1;
  min-height: 198px;
  height: 198px;
  .user-image {
    flex: 1;
    text-align: center;
    margin: 35px 0;
  }
  .user-data {
    flex: 1;
    padding: 10px 14px;
    h1 {
      color: #0069d9;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .profession {
      color: #748391;
      font-size: 14px;
      margin: 4px 0;
      padding: 0;
    }
    .place {
      color: #2c3e50;
      font-size: 12px;
      margin: 4px 0;
      padding: 0;
    }
    .desc {
      color: #5d5d5d;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    .social-icons {
      .btn-primary {
        margin: 5px 7px 0 0;
        padding: 8px;
        font-size: 14px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }
    }
  }
}

.user-details {
  .user-data {
    h1 {
      .btn-primary{
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }
    }
  }
}

