.overall_container{
  display: flex;
  .main_navigation {
    left: -1px;
    top: -1px;
    height: 100vh;
    border-right: 1px solid #CCCCCC;
    box-sizing: border-box;
  }
  .org_settings_view {
    margin-top: 35px;
    .main_section {
      display: flex;
      flex-direction: row;
      justify-items: center;
      flex-wrap: wrap;
      margin-top: -1.3em;
      .left_nav {
        max-width: 20%;
        height: 50%;
        margin-top: 16px;
        margin-left: 10px;
         .header_text {
           font-family: Inter;
           font-style: normal;
           font-weight: 500;
           font-size: 18px;
           line-height: 21px;
           letter-spacing: 0.25px;
           color: #9E9E9E;
         }
      }

      .right_section {
        width: 80vw;
        max-width: 75%;
        // overflow-y: auto;
        margin-top: -0.7em;
      }
    }
  }
}
// mobile 
@media screen and (max-width: 768px) {
  .overall_container{
    .org_settings_view {
     .main_section {
       .left_nav {
         .navigation {
           .list-group {
             .link {
               display: none;
             }
             .header_text {
               font-size: 10px;
             }
           }
         }
       }
     }
    }
  }
}

// tablet 
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .overall_container {
    .org_settings_view {
      .main_section {
        .left_nav {
          .navigation {
            .list-group {
              .link {
                font-size: 5px;
              }
            }
          }
        }
      }
    }
  }
}