.settings__navigation {
  box-sizing: border-box;
  // height: 80vh;
  left: 0px;
  top: -1px;
}
.settings__navigation {
  .list-group {
    .list-group-item {
      cursor: pointer;
      border: 1px solid #cccccc;
      font-style: normal;
      font-family: "Inter";
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1px;
      text-decoration: none;
      span {
        font-weight: bold;
        font-size: 25px;
        vertical-align: middle;
      }
    }
  }
}

.settings__navigation {
  .list-group {
    .active {
      border-left: 3px solid #1a73ed;
      background-color: rgba(26, 115, 232, 0.1);
      // border-bottom: 1px solid #cccccc;
      .link {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        /* or 150% */

        letter-spacing: 0.1px;

        color: #1a73e8;
      }
    }
  }
}

.settings__navigation {
  .list-group {
    .inactive {
      // border-bottom: 1px solid #cccccc;
      .link {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.settings__navigation {
  .list-group {
    .list-group-item {
      svg {
        padding: 0px 10px 0px 10px;
      }
    }
  }
}

.jitsi {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px 0px 10px;
}

.community {
  padding: 0px 10px 0px 10px;
}
.settings__navigation {
  .list-group {
    .active {
      .icon {
        .path-name {
          fill: #1a73e8;
          fill-opacity: 10;
        }
      }
    }
  }
}
