.posts {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 44px 0 0 27px;
  }
  .pinned-posts {
    min-height: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.categories {
  display: flex;
  margin: 10px 0px 10px 20px;
  .tab__container {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    .nav__tab {
      .nav__list__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        border-bottom: 2px solid #eee;
        transition: all .5s;
        font-weight: 300;
        color: #262727;

        .nav__single__tab {
          display: inline-block;
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          padding-left: 11px;
          padding-right: 15px;
          padding-bottom: 5px;
          margin-left: 19px;
          text-align: center;
          cursor: pointer;

          &.selected {
            border-bottom: 3px solid #1a73e8;
            color: #1a73e8;
          }
        }
      }
    }
  }
  .btn {
    padding: 8px 20px;
    border: solid 1px #007bff;
    border-radius: 100px;
    color: #007bff;
    margin: 0 5px;
   &:hover {
     background-color: #1a73e8;
     color: white;
   }

   &:focus {
     background-color: #1a73e8;
     color: white;
   }
  }
  .btn-primary {
    background-color: #fff;
  }
  .space {
    width: 10px;
  }
}
.category {
  text-align: center;
  .to-centre {
    margin-top: 25px;
    display: inline-block;
  }
  margin: 10px 0px 10px 20px;
  .btn {
    padding: 8px 20px;
    border: solid 1px #007bff;
    border-radius: 100px;
    color: #007bff;
    margin: 0 5px;
    cursor: pointer;
    &:focus {
      color: white;
      box-shadow: none;
    }
    &.active {
      background: #007bff;
      color: white;
      box-shadow: none;
    }
  }
  .space {
    width: 10px;
  }
}

.post-details2 {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter;
}
.arrows {
  padding-right: 0px;
}
.com-btn {
  .comment-btn {
    background-color: white;
    border: none;
    &:hover {
      background-color: white;
    }
    .comment-text {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      color: rgba(0, 0, 0, 0.4);
    }
  }
}
.rep-btn {
  .reply-btn {
    background-color: white;
    border: none;

    &:hover {
      background-color: white;
    }

    .reply-text {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.up-vote {
  color: #1eb025;
  font-size: 13px;
}
.space {
  width: 20px;
}
.down-vote {
  color: #ff0000;
  font-size: 13px;
}
.post {
  column-count: 2;
  width: 139%;
  counter-reset: item-counter;
  margin-left: 25px;
  margin-top: 10px;
  .grid {
    position: relative;
    counter-increment: item-counter;
    .com-btn {
      position: absolute;
      right: 5px;
    }
    .rep-btn {
      right: 60%;
    }
    .eventimg {
      position: relative;
      height: 300px;
      border-radius: 5px;
      .event-details {
        width: 90%;
        margin: 5px auto;
        .event-schedule {
          display: flex;
          justify-content: flex-start;
          .event-date {
            flex: 1;
            border-top: 1px solid rgba(204, 204, 204, 0.7);
            border-bottom: 1px solid rgba(204, 204, 204, 0.7);
            border-right: 1px solid rgba(204, 204, 204, 0.7);
            .date-content {
              width: 50%;
              padding: 1vw;
              small {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 8px;
                line-height: 10px;
                letter-spacing: 0.27em;
                color: rgba(29, 33, 41, 0.4);
                mix-blend-mode: normal;
              }
              h3 {
                font-family: Qanelas;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #1d2129;
              }
              h5 {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #1d2129;
                mix-blend-mode: normal;
                margin-bottom: 0;
              }
              h6 {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                color: #1d2129;
                mix-blend-mode: normal;
              }
            }
          }
          .event-time {
            flex: 1;
            border-top: 1px solid rgba(204, 204, 204, 0.7);
            border-bottom: 1px solid rgba(204, 204, 204, 0.7);
            border-left: 1px solid rgba(204, 204, 204, 0.7);
            .time-content {
              width: 90%;
              margin: 0 auto;
              small {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 8px;
                line-height: 10px;
                letter-spacing: 0.27em;
                color: rgba(29, 33, 41, 0.4);
                mix-blend-mode: normal;
              }
              h4 {
                font-family: Qanelas;
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 32px;
                color: #1d2129;
                mix-blend-mode: normal;
                margin-bottom: 0;
              }
              h5 {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #1d2129;
                mix-blend-mode: normal;
                margin-bottom: 0;
              }
              h6 {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                color: #1d2129;
                mix-blend-mode: normal;
              }
            }
          }
        }
        h3 {
          margin-left: 5px;
          margin-right: 5px;
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
          color: #1d2129;
        }
        p {
          font-family: Qanelas;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: #1d2129;
        }
        .tag-container {
          margin-top: 15px;
          display: flex;
          justify-content: flex-end;
          margin-right: 15px;
          margin-bottom: 15px;
          .tag-btn {
            background: #1a73e8;
            border-radius: 15px;
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            color: white;
          }
        }
      }
    }
    .test {
      height: 60px;
      width: 80px;
    }
    .projimg {
      position: relative;
      height: 150px;
      border-radius: 3px;
      .project-details {
        width: 90%;
        margin: 5px auto;
        h3 {
          font-family: Qanelas;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #1d2129;
        }
        p {
          font-family: Qanelas;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: #1d2129;
        }
        .view-project {
          display: flex;
          justify-content: center;
          .view-project-btn {
            background: #1a73e8;
            border-radius: 20px;
            padding-left: 25px;
            padding-right: 25px;
            font-family: Qanelas;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            color: #ffffff;
          }
        }
      }
    }
  }

  .main {
    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #1a73e8;
      margin-bottom: 0px;
    }
    small {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #90949c;
      margin: 0;
    }
  }
}
