.info-eventName{
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    font-family: Inter;
}

.info-common{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #2D2D2D;
    text-align: center;
}

.info-cancelled{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:rgb(202, 25, 25);   
}
.info-slots-no{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:black;
}

.info-description{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #2D2D2D;
}

.edit__event__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 29px;
    color: #1a73e8;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
.form-footer {
    margin-top: 0;
    Button {
        margin-right: 20px;
        margin-bottom: 30px;
        // border-radius: 100px;
        border-radius: 0px;
        font-weight: 600;
    }
    .savebtn {
        background-color: #1A73E8;
        border-radius: 0px;
        padding: 1px;
    }
    .cancelbtn {
        background-color: #ffffff;
        border-radius: 0px;
        width: 80px;
        height: 32.85px;
        padding: 1px;
    }
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.7) !important;
}
.modal-backdrop.in{
    opacity: 0.5;
}