.info-eventName{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.info-common{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:rgb(117, 114, 114);
   
}

.info-cancelled{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:rgb(202, 25, 25);   
}
.info-slots-no{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:black;
}

.info-description{
    font-size: 15px;
    text-align: center;
    color:rgb(56, 55, 55);
}