.org-details {
  display: flex;
  flex-direction: row;
  border: solid 1px #dfe9f1;
  height: 269px;
  align-items: center;
  .org-image {
    flex: 0.5;
    text-align: center;
    margin: 35px 0;
    .useredit {
      margin-top: 10px;
      border-radius: 20px;
      font-size: 14px;
    }
    .org-pic {
      display: inline-block;
      .orgpic {
        width: 182px;
        height: 182px;
      }
    }
  }
  .org-data {
    flex: 1;
    padding: 10px 14px;
    h1 {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
      /* identical to box height */

      color: #1a73e8;
    }
    .profession {
      color: #90949c;
      font-size: 12px;
      font-weight: 600;
      margin: 4px 0;
      line-height: 0%;
      padding-bottom: 10px;
    }
    .place {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;

      color: #90949c;
    }
    .desc {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #1d2129;
      text-align: justify;
    }
    .social-icons {
      display: flex;
      .btn-primary {
        margin: 5px 7px 0 0;
        padding: 0.7em;
        font-size: 14px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        // border-radius: 20px;
        padding: 3px;
        width: 10vw;
        height: 2.5em;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8em;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}

.org-details {
  .org-data {
    h1 {
      .btn-primary {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 100px;
        height: 35px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
}

.org-followbtn {
  margin: 10px;
}
