.profile_content {
  .org_profile_text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 21px;
    /* or 70% */
    letter-spacing: 0.25px;
    color: #2D2D2D;
    padding-bottom: 7px;
  }
  .label_text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #000000;
  }
  .container {
    .form {
      .placeholder_text {
        color: #C9C9C9;
        max-width: 606px;
        opacity: 0.75;
        border: 0.75px solid #90949C;
      }
      .upload_btn {
        border: 1px solid #1A73E8;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 10px;
        background: transparent;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 10px;
        color: #1A73E8;
      }
      .upload_img {
        width: 161px;
        height: 141px;
        left: 547px;
        top: 179px;
      }
      .save_btn {
        background: #1A73E8;
        border-radius: 100px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.1em;
        color: #FFFFFF;
        width: 100px;
        height: 30px;
        left: 200px;
        top: 100px;
      }
      .deactivate_btn {
        background: transparent;
        border-radius: 100px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.1em;
        color: #EB5757;
        border: 1px solid #EB5757;
        box-sizing: border-box;
        width: 200px;
        height: 30px;
        left: 200px;
        top: 100px;
      }
    }
  }
}