.settings_content {
  .org_setting_text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: #2D2D2D;
    padding-bottom: 7px;
  }
  .container {
    .form {
      .select_option {
        max-width: 606px;
        opacity: 0.75;
        border: 0.75px solid #90949C;
        background: #FFFFFF;
        box-sizing: border-box;
        .hide {
          display: none;
        }
      }
      .placeholder_text {
        color: #C9C9C9;
        max-width: 606px;
      }
      .header_text {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: #000000;
        font-size: 1.1em;
        letter-spacing: 0.1em;
      }
      .sub_header_text {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 22px;
        color: #2D2D2D;
      }
      .margin_header {
        margin-top: 1.2rem;
      }
      .save_btn {
        background: #1A73E8;
        border-radius: 100px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.1em;
        color: #FFFFFF;
        width: 100px;
        height: 30px;
        left: 200px;
        top: 100px;
      }
      .discard_btn {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        background: transparent;
        line-height: 1.1em;
        color: #1A73E8;
        width: 100px;
        height: 30px;
        left: 200px;
        top: 100px;
        border: 1px solid #1A73E8;
        box-sizing: border-box;
        border-radius: 100px;
      }
    }
  }
}