.ticket-sidebar {
  max-width: 18vw;
  .list-group {
    background-color: #f5f5f5;
    .list-group-item {
      background-color: #f5f5f5;
      white-space: nowrap;
      cursor: pointer;
      border: none;
      font-style: normal;
      font-family: "Inter";
      font-size: 22px;
      letter-spacing: 0.1px;
      text-decoration: none;
      span {
        font-style: normal;
        font-family: "Inter";
        font-size: 1.5vw;
        letter-spacing: 0.1px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
      }
      .sorting-element {
        font-family: "Inter";
        font-size: 0.8vw;
        letter-spacing: 0.1px;
        text-transform: uppercase;
      }
      .sorting-title {
        font-family: "Inter";
        font-size: 1.3vw;
      }
      .sorting-element-active {
        font-family: "Inter";
        font-size: 0.8vw;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #1a73e8;
        font-weight: bold;
      }
    }
    .list-group-item-top {
      height: 9vh;
      background-color: #f5f5f5;
      white-space: nowrap;
      cursor: pointer;
      border: none;
      font-style: normal;
      font-family: "Inter";
      font-size: 16px;
      letter-spacing: 0.1px;
      text-decoration: none;

      border-bottom: solid 1px #dfe9f1;

      span {
        margin-top: "20px";
        font-style: normal;
        font-family: "Inter";
        font-size: 1.4vw;
        letter-spacing: 0.1px;
        text-decoration: none;
        margin-left: none;
        color: rgba(0, 0, 0, 0.5);
      }
      button {
        font-size: 0.8vw;
        border-radius: 30px;
        margin-left: 4.3vw;
      }
    }
  }
}

.info-icon {
  font-size: 1.2vw;
  margin-left: 8vw;
}
