.right_main_container {
  display: flex;
  .right_view_container {
    padding-left: 1;
    .right_view {
      margin-top: 10px;
      padding-left: 3em;
      .right_view_header {
        font-family: Qanelas;
        font-style: normal;
        font-weight: 600;
        font-size: 1.7em;
        line-height: 20px;
        color: #000000;
      }
      .right_view_content {
        .switch_btn {
          display: flex;
          .active_btn {
            width: 11vw;
            height: 5vh;
            background: #1A73E8;
            padding: 0.3em;
            margin-right: 1em;
          }
          .inactive_btn {
            width: 11vw;
            height: 5vh;
            background: rgb(250, 251, 252);
            color: #1A73E8;
            padding: 0.3em;
            margin-right: 1em;
          }
        }
        .members_overview {
          width: 90vw;
          .search_bar {
            background: #FFFFFF;
            border: 1.5px solid #CCCCCC;
            border-radius: 100px;
            width: 39.5%;
            padding: 0.4em;
            margin-top: 0.5em;
          }
          .search_btn {
            width: 11vw;
            height: 5vh;
            background: rgb(250, 251, 252);
            border-radius: 100px;
            color: #1A73E8;
            padding: 0.3em;
            margin-left: 1em;
            height: 42.2px;
          }
          .members_list {
            display: flex;
            padding: 0.3em;
            flex-wrap: wrap;
            margin-top: 1em;
            .single_member {
              display: flex;
              background: #FFFFFF;
              border: 1px solid #CCCCCC;
              box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
              padding-top: 0.7em;
              padding-left: 0.7em;
              width: 35vw;
              margin-right: 1em;
              margin-bottom: 1em;
              flex-wrap: wrap;
              border-radius: 5px;
              min-width: 350px;
              height: 11vh;
              .member_image {
                width: 60px;
                height: 60px;
                background-blend-mode: normal;
                border-radius: 5px;
                border: 1px solid #CCCCCC;
                margin-right: 0.7em;
              }
              .member_details {
                .member_name_with_icon {
                  display: flex;
                  justify-content: space-between;
                  .row {
                    width: 29vw;
                  }
                   .member_name {
                     font-family: Inter;
                     font-style: normal;
                     font-weight: 600;
                     font-size: 1.2em;
                     line-height: 1.5em;
                     color: #1A73E8;
                   }
                   .hamburger {
                    .dotted_hamberger {
                      clear: both;
                      float: right;
                      cursor: pointer;
                    }
                   }
                }
                .member_designation {
                  font-family: Inter;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 0.9em;
                  line-height: 0%;
                  letter-spacing: 0.15em;
                  color: #90949C;
                  margin-top: -0.5em;
                }

                .member_location {
                  font-family: Inter;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 0.5em;
                  line-height: 10px;
                  color: #90949C;
                  margin-top: -0.7em;
                }
              }
            }
          }
          input[type=text] {
            padding: 0.5em;
          }
        }
      }
    }
  }
}
.list-group {
  //  width: 14vw;
}
.popover-body {
  width: 9vw;
  text-align: center;
  .overlay_list_btn {
    cursor: pointer;
     background: transparent;
     border-radius: 100px;
     font-family: Inter;
     font-style: normal;
     font-weight: normal;
     font-size: 1em;
     line-height: 1.1em;
     color: #EB5757;
     border: 1px solid #EB5757;
     box-sizing: border-box;
     padding-bottom: 0.4em;
  }
  .overlay_list_btn:hover {
    background: transparent;
    color: #EB5757;
  }
}