.discussion {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .discussion__navigation {
    flex: 1;
    border-right: solid 1px #dfe9f1;
  }
  .discussion__content {
    flex: 5.5;
  }
}
