.discussion {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  margin-left: 13%;
  .discussion__content {
    flex: 5.5;
  }
}

@media (min-width: 320px) and (max-width: 1024px){
  .discussion {
    margin-left: 0;
  }
}
