
/*------------------------------------*\
    COLOR
\*------------------------------------*/
a,
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.btn-link.active,
.nav li a:hover,
.nav li.active > a,
.nav li.active > a:hover,
.nav li.active > a:focus,
.nav li.open > a,
.nav li.open > a:hover,
.nav li.open > a:focus,
.btn-default,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-animate:hover,
.custom-select-menu ul li:hover,
.custom-select-menu ul li.selected,
.text-primary,
.owl-nav > div,
.link--video:before,
.activity--item .activity--content .btn-link,
.topics--list tbody td p a:hover,
.topic--reply .header .date a:hover,
.media--author-info .name .btn-link:hover,
.video--popup.style--2 a,
.product--gallery .owl-nav > div:hover,
.product--quantity .input-group-addon .fa:hover,
.text--block .content a:hover,
.profile--info a:hover,
.review--rating .stars[data-selected],
.recent-active-members--widget .owl-nav > div:hover,
.header--nav-links.style--3 > li:hover > a,
.header--nav-links.style--3 > li > a:hover,
.header--nav-links.style--3 > li.open > a,
.header--nav-links.style--3 > li.open > a:hover,
.header--nav-links.style--3 > li.open > a:focus,
.header--nav-links.style--3 > li.active > a:hover,
.header--nav-links.style--3 > li.active > a,
.header--nav-links.style--3 > li.active > a:focus,
.footer--copyright .text span,
.cs--content .newsletter--widget .btn-link,
.f0f--content .search--widget .btn-link {
    color: #1da1f2;
}

/*------------------------------------*\
    BACKGROUND COLOR
\*------------------------------------*/
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.nav > li > a.btn-default:hover,
.nav > li > a.btn-default:focus,
.nav > li.active > a.btn-default,
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white:active:hover,
.btn-white:active:focus,
.btn-white:active.focus,
.btn-white.active,
.btn-white.active:hover,
.btn-white.active:focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white,
.open > .dropdown-toggle.btn-white:hover,
.open > .dropdown-toggle.btn-white:focus,
.open > .dropdown-toggle.btn-white.focus,
.btn-primary,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.nav li a.btn-primary,
.nav li a.btn-primary:hover,
.nav li a.btn-primary:focus,
.nav li.active > a.btn-primary,
.nav li.open > a.btn-primary,
.btn-animate,
.btn-animate:focus,
.btn-animate:after,
.btn-animate span:before,
.btn-animate span:after,
.btn-animate span .fa:after,
.badge,
.tooltip-inner,
[data-overlay-color="primary"]:before,
.bg-primary,
.section--arrow-primary:before,
.section--arrow-primary:after,
#preloader,
.timeline:before,
.timeline .nav > li:before,
.owl-nav > div:hover,
.link--video:after,
.activity--avatar:before,
.acomment--avatar:before,
.topic--author .avatar:before,
.member--item .img:before,
.member--item.online .img:after,
.product--summery .social > li > a:hover,
#backToTop .btn:hover,
.filter--links .nav > li > a:before,
.gallery--item.type--video a:hover:after,
.faq--item.style--2.opened,
.post--video a:after,
.post--content blockquote cite:before,
.post--social-share .nav > li > a:hover,
.comment--item .reply .btn:hover,
.comment--item .reply .btn:focus,
.product--img .action a:before,
.cart--items .table tbody tr td .remove:hover:before,
.cart--items .table tbody tr td .remove:hover:after,
.recent-active-members--widget .img:before,
.cart--widget .remove:hover:before,
.cart--widget .remove:hover:after,
.cover--avatar:after,
.header--nav-links.style--3 > li > a:before,
.footer--copyright .social .nav > li > a:hover,
.footer--copyright .social .nav > li > a:focus,
.cs--content .newsletter--widget .btn-link:hover,
.cs--content .social .nav > li > a:hover,
.f0f--content .search--widget .btn-link:hover,
.f0f--content .buttons .btn:hover,
.f0f--content .social .nav > li > a:hover {
    background-color: #1da1f2;
}

::-moz-selection {
    background-color: #1da1f2;
}

::selection {
    background-color: #1da1f2;
}

/*------------------------------------*\
    BORDER COLOR
\*------------------------------------*/
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.nav > li > a.btn-default:hover,
.nav > li > a.btn-default:focus,
.nav > li.active > a.btn-default,
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white:active:hover,
.btn-white:active:focus,
.btn-white:active.focus,
.btn-white.active,
.btn-white.active:hover,
.btn-white.active:focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white,
.open > .dropdown-toggle.btn-white:hover,
.open > .dropdown-toggle.btn-white:focus,
.open > .dropdown-toggle.btn-white.focus,
.btn-primary,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus,
.nav li a.btn-primary,
.nav li a.btn-primary:hover,
.nav li a.btn-primary:focus,
.nav li.active > a.btn-primary,
.nav li.open > a.btn-primary,
.form-control:focus,
.owl-dot,
.page--count a:hover,
.page--count a:focus,
.video--popup.style--1 a:hover:before,
.video--popup.style--1 a:hover:after,
.video--popup.style--1 a:hover span:before,
.video--popup.style--1 a:hover span:after,
.video--popup.style--1 a:focus:before,
.video--popup.style--1 a:focus:after,
.video--popup.style--1 a:focus span:before,
.video--popup.style--1 a:focus span:after,
.info--item .icon,
.nav--widget .nav > li > a:hover {
    border-color: #1da1f2;
}

.tooltip.bottom .tooltip-arrow,
.content--nav .nav,
.box--item .action a:hover,
.post--content blockquote:after,
.product--offer:before,
.product--offer:after {
    border-bottom-color: #1da1f2;
}

.product--offer:after {
    border-left-color: #1da1f2;
}