.news-feed {
  padding: 0 30px;
  .post-article {
    height: 50px;
    .article {
      display: flex;
      form {
        flex: 1;
        border: none;
        padding: 10px;
        max-height: 55px;
        max-width: 1500px;
      }
    }
    .cta {
      padding: 5px 8px;
      button {
        margin: 0 3px;
      }
    }
    .categories {
      display: flex;
      margin: 20px auto;
      justify-content: center;
      .category-type {
        padding: 4px 36px;
        border: solid 1px #007bff;
        border-radius: 100px;
        color: #007bff;
        margin: 0 5px;
        cursor: pointer;
        &.active {
          background: #007bff;
          color: white;
        }
      }
    }
    .article-posts {
      column-count: 2;
      width: 100%;
      counter-reset: item-counter;
      .individual-post {
        // position: relative;
        display: inline-block;
        counter-increment: item-counter;
        width: 100%;
        margin-bottom: 15px;
        border: solid 1px #dfe9f1;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .event-image-container {
          position: relative;
          width: 100%;
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
          .event-jumbotron {
            position: absolute;
            background-color: white;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: 30%;
            min-width: 167px;
            top: 10px;
            right: 10px;
            // bottom: 20px;
            .event-details {
              // width: 90%;
              margin: 5px auto;
              .event-schedule {
                display: flex;
                justify-content: flex-start;
                .event-date {
                  flex: 1;
                  border-top: 1px solid rgba(204, 204, 204, 0.7);
                  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
                  border-right: 1px solid rgba(204, 204, 204, 0.7);
                  .date-content {
                    width: 50%;
                    margin: 0 auto;
                    small {
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 8px;
                      line-height: 10px;
                      letter-spacing: 0.27em;
                      color: rgba(29, 33, 41, 0.4);
                      mix-blend-mode: normal;
                    }
                    h4 {
                      font-family: Qanelas;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 26px;
                      line-height: 32px;
                      color: #1d2129;
                      mix-blend-mode: normal;
                      margin-bottom: 0;
                    }
                    h5 {
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 17px;
                      color: #1d2129;
                      mix-blend-mode: normal;
                      margin-bottom: 0;
                    }
                    h6 {
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 10px;
                      line-height: 12px;
                      color: #1d2129;
                      mix-blend-mode: normal;
                    }
                  }
                }
                .event-time {
                  flex: 1;
                  border-top: 1px solid rgba(204, 204, 204, 0.7);
                  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
                  border-left: 1px solid rgba(204, 204, 204, 0.7);
                  .time-content {
                    width: 50%;
                    margin: 0 auto;
                    small {
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 8px;
                      line-height: 10px;
                      letter-spacing: 0.27em;
                      color: rgba(29, 33, 41, 0.4);
                      mix-blend-mode: normal;
                    }
                    h4 {
                      font-family: Qanelas;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 26px;
                      line-height: 32px;
                      color: #1d2129;
                      mix-blend-mode: normal;
                      margin-bottom: 0;
                    }
                    h5 {
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 17px;
                      color: #1d2129;
                      mix-blend-mode: normal;
                      margin-bottom: 0;
                    }
                    h6 {
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 10px;
                      line-height: 12px;
                      color: #1d2129;
                      mix-blend-mode: normal;
                    }
                  }
                }
              }
              h3 {
                margin-left: 5px;
                margin-right: 5px;
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                color: #1d2129;
              }
              p {
                font-family: Qanelas;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #1d2129;
              }
              .tag-container {
                margin-top: 15px;
                display: flex;
                justify-content: flex-end;
                margin-right: 15px;
                margin-bottom: 15px;
                .tag-btn {
                  font-weight: 600;
                  font-size: 10px;
                  line-height: 12px;
                }
              }
            }
          }
        }
        .project-image-container {
          position: relative;
          width: 100%;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
          .project-jumbotron {
            position: absolute;
            background-color: white;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: 30%;
            min-width: 147px;
            top: 10px;
            right: 10px;
            // bottom: 20px;
            .project-details {
              width: 90%;
              margin: 5px auto;
              h3 {
                font-family: Qanelas;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #1d2129;
              }
              p {
                font-family: Qanelas;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #1d2129;
              }
              .view-project-btn-container {
                display: flex;
                justify-content: center;
                .view-project-btn {
                  padding-left: 25px;
                  padding-right: 25px;
                  font-weight: 600;
                  font-size: 10px;
                  line-height: 12px;
                }
              }
            }
          }
        }
        .user-info {
          display: flex;
          padding: 8px;
          .image {
            width: 38px;
            height: 38px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 2px;
            }
          }
          .img-desc {
            margin-left: 10px;
            h2 {
              font-family: Inter;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              color: #1a73e8;
              margin-bottom: 0px;
            }
            small {
              font-family: Inter;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              color: #90949c;
              margin: 0;
            }
          }
          .dropdown-container {
            margin-left: auto;
            margin-right: 5px;
          }
        }
        .post-details {
          padding: 8px;
          p {
            font-size: 14px;
            margin-bottom: 10px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            line-height: 17px;
          }
          .post-activity {
            display: flex;
            .up-vote,
            .down-vote {
              margin-right: 10px;
              small {
                font-family: SF Pro Text;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
              }
            }
            .vote-btn {
              background-color: transparent;
              border: 0;
              width: 20px;
            }
            .vote-btn:active {
              background-color: transparent;
            }
            .comments {
              small {
                margin-left: 5px;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
              }
              small:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.up-vote small {
  color: #1eb025;
}

.down-vote small {
  color: #ff0000;
}
.news__feed__container {
  .post {
    width: 130%;
    margin-bottom: 17px;
  }
}
.news-feed {
  width: 110%;
  .post-article {
    .article {
      .post-input {
        background: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      .cta {
        button {
          svg {
            padding-right: 16px;
            padding-bottom: 5px;
            margin-top: 0px;
          }
        }

        .optionbtn {
          .optionbtn-text {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

.posts {
   width: 140%;
  .category {
    .category-btn {
      border-radius: .25rem;
      background-color: white;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        background-color: #1a73e8;
        color: white;
      }

      &:focus {
        background-color: #1a73e8;
        color: white;
      }
    }
  }
}
.grid {
  .rep-btn {
    .reply-text {
      color: red($color: #000000);
    }
  }
  .show__comment__section {
    .comment__input{
      .comment__wrap {
        display: flex;
        .comment__img {
          min-width: 56px;
          padding-left: 16px;
          margin-right: 7px;
        }
        .comment__field {
          width: 70%;
        }
      }
    }
  }
  .hide__comment__section {
    display: none;
  }
}
