.news-feed {
  padding: 0 20px;
  .post-article {
    margin: 30px 0 30px 0;
    height: 50px;
    .article {
      display: flex;
      .post-input {
        flex: 1;
        border: none;
        padding: 10px;
        max-height: 52px;
        margin-top: 4px;
        margin-left: 10px;
        border: 1px solid #CCCCCC;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        min-width: 350px;
      }
    
    .cta {
      padding: 5px 8px;
      margin-right: -29px;
      button {
        background-color: #007bff;
        color: white;
        font-size: 16px;
        margin: 0 4px;
        svg{
          padding-right: 12px;
          padding-bottom: 3px;
        }
      }
    }
    .categories {
      display: flex;
      margin: 20px auto;
      justify-content: center;
      .category-type {
        padding: 4px 36px;
        border: solid 1px #007bff;
        border-radius: 100px;
        color: #007bff;
        margin: 0 5px;
        cursor: pointer;
        &.active {
          background: #007bff;
          color: white;
        }
      }
    }
  }
 }
}

