.login-details {
  padding: 15px 0;
  .form-group {
    label {
      color: #00abff;
    }
  }
  .cta-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    button {
      // padding: 8px 10px;
      width: 104px;
      // border-radius: 30px;
    }
  }
}

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#validation_msg {
  color: rgb(247, 134, 134);
  font-size: 15px;
}

.loginbtn {
  border: 1px solid rgb(211, 220, 228);
  // border-radius: 3px;
  width: 45%;
}

.loginbtn-text {
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
