  .title{
    h1{
      color: #0069d9;
      font-size: 80px;
      margin: 0;
      font-weight: bold;
      padding: 0;
      text-align: center;
      font-family: 'Lexend Giga', sans-serif;
      font-family: 'Pacifico', cursive;
    }

    margin-top: 2vh;
    margin: auto auto;
  }
  
  .location{
    color: #0069d9;
    font-size: 25px;
    margin: 4px 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }

  .slots{
    color: #0069d9;
    font-size: 35px;
    margin: 4px 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }

  .createAt{
    color: #2c3e50;
    font-size: 18px;
    margin: 4px 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }
  
  .description{

    .desc {
      color: #5d5d5d;
      font-size: 20px;
      margin: auto;
      font-weight: 100;
      padding: 20px;
    }  
    margin-top: 2vh;
  }
  .rsvp{
    h1{
      color: #0069d9;
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  .segment{
    margin-left:15px;
  }

  .rsvp-title{
    color: #0069d9;
      font-size: 40px;
      margin: 0;
      font-weight: bold;
      padding: 0;
      text-align: center;
      font-family: 'Lexend Giga', sans-serif;
      font-family: 'Pacifico', cursive;
  }

  .rsvp-number{
    color: #0069d9;
    font-size: 100px;
    margin: 0;
    font-weight: bold;
    padding: 0;
    text-align: center;
    font-family: 'Lexend Giga', sans-serif;
    font-family: 'Pacifico', cursive;
  }