.signup-details {
  padding: 15px 0;
  .form-group {
    label {
      color: #00abff;
    }
  }


  .savebtn{
    display: flex;
    padding: 8px 50px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    button {
      padding: 8px 50px;
    }
  
  }  

}
