.tickets-dashboard-filter {
  display: flex;
  flex-direction: column;
  .filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .clear-filters {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
.ticket-tabs {
  width: 100%;
  .nav__tab {
    .nav__list__container {
      display: flex;
      list-style: none;
      border-bottom: 2px solid #eee;
      transition: all 0.5s;
      font-weight: 300;
      color: #262727;

      .nav__single__tab {
        display: inline-block;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding-left: 11px;
        padding-right: 15px;
        padding-bottom: 5px;
        margin-left: 19px;
        text-align: center;
        cursor: pointer;

        &.selected {
          border-bottom: 3px solid #1a73e8;
          color: #1a73e8;
        }
      }
    }
  }
}

.moderator-modal-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding-bottom: 20px;
}

.modal{
  ._loading_overlay_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: auto;
    ._loading_overlay_overlay{
      height: 100%;
    }
  }
}
