.updates {
  min-height: 300px;
  margin: 30px 0 20px 40px;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
  .org-updates {
    min-height: 300px;
    max-height: 400px;
    border: solid 1px #dfe9f1;
    overflow: auto;
    .img-desc {
      h2 {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #000000;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;

        color: rgba(29, 33, 41, 0.5);
      }
    }
    .image {
      padding: 14px 14px;
    }
  }
}
