.profile-img {
  height: 43px;
  display: inline-block;
  margin: 2px;
}

.profile-text {
  display: inline;
}

.Ticket-dashboard-ticket{
  display: flex;
  align-items: center;
  .status {
    margin-right: 18px;
  }
  .Ticket-dashboard-title {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Inter;
  }
}