.login-page {
  display: flex;
  flex-direction: row;
  margin: 50px;
  .welcome-text {
    flex: 1.8;
    margin: 140px 0 0 0;
    .logo {
      padding-bottom: 20px;
      h2 {        
        padding: 34px 10px 0 20px;
        color: #2d2d2d;
        font-size: 34px;
      }
    }
    .extra-donuts {
      position: absolute;
      bottom: 0;
      left: 0;
      img {
        height: 109px;
      }
    }
    h1 {
      font-family: 'Playfair Display', serif;
      color: #000000;
      font-size: 50px;
      font-style: normal;
      font-weight: bold;
      padding-bottom: 20px;
      line-height: 100px;
    }
    p {
      color: #90949c;
      font-size: 20px;
      font-weight: normal;
      padding-right: 30px;
    }
  }
  .user-details {
    flex: 1;
    .user-data {
      padding: 30px;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
      min-height: 380px;
      height: auto;
    }
  }
  @media (min-width: 320px) and (max-width: 640px) {
    flex-direction: column;
    margin: 20px;
    .welcome-text {
      margin: 20px 0 0 0;
      .extra-donuts {
        display: none;
      }
    }
  }
}
