.portfolio {
  display: flex;
  text-align: center;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  height: 270px;
  flex-direction: row;
  // border-bottom: 1px solid #dfe9f1;
  box-shadow: -1px 2px 2px -1px rgba(0, 0, 0, 0.1);
  .items-list {
    padding: 40px 0px;
    border: solid 1px #dfe9f1;
    width: 10vw;
    .item {
      padding: 12px;
      h1 {
        font-size: 36px;
        font-family: SF UI Text;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0px;
      }
      h3 {
        font-size: 1vw;
        color: #4457a5;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
      }
    }
    .members_list {
      cursor: pointer;
    }
    .admins__list {
      cursor: pointer;
    }
    .followers__pointer {
      cursor: pointer;
    }
  }
}
