 .main_section {
      margin: 35px auto auto 15vw;
      display: flex;
      flex-direction: row;
      justify-items: center;
      flex-wrap: wrap;
      .left_nav {
        max-width: 20%;
        height: 50%;
        margin-top: 16px;
        margin-left: 10px;
         .header_text {
           font-family: Inter;
           font-style: normal;
           font-weight: 500;
           font-size: 18px;
           line-height: 21px;
           letter-spacing: 0.25px;
           color: #9E9E9E;
         }
      }

      .right_section {
        width: 80vw;
        max-width: 75%;
        // overflow-y: auto;
        margin-top: -0.7em;
      }
      .timelines__container {
        max-height: 90vh;
        overflow-y: auto;
        width: 75vw;
        margin-top: 4px;
        overflow-x: hidden;
        margin-left: -150px;
        margin-top: 27px;

        .activity__header {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 1.3em;
          line-height: 21px;
          letter-spacing: 0.25px;
          color: #2D2D2D;
          padding-bottom: 7px;
          text-align: center;
        }

        .activity__link {
          color: #1a73ed;
          font-family: "Inter";
          font-size: 14px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
// mobile 
.activity_accordion {
  display: none;
}

@media screen and (max-width: 768px) {
.main_section {
  width: 100%;
  margin: 0;
  padding: 2.5vh 2.5vw;
  flex-direction: column;
  .left_nav {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    .activity_accordion {
      display: block;
    }
    .left_nav_container {
      display: none;
    }
    .navigation {
      .list-group {
        .link {
          display: none;
        }
        .header_text {
          font-size: 10px;
        }
      }
    }
  }
}
}

// tablet 
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .main_section {
    width: 100%;
    margin: 0;
    padding: 2.5vh 2.5vw;
    flex-direction: column;
    .left_nav {
      width: 100%;
      max-width: 100%;
      margin: 10px auto;
      .activity_accordion {
        display: block;
      }
      .left_nav_container {
        display: none;
      }
      .navigation {
        .list-group {
          .link {
            font-size: 5px;
          }
        }
      }
    }
  }
}

