.activity__timeline {
  margin-top: 4vh;
  margin-left: 7vw;
  .activity__timeline__header__container {
    .activity__timeline__header {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1.3em;
      line-height: 21px;
      letter-spacing: 0.25px;
      color: #2D2D2D;
      padding-bottom: 7px;
    }
  }
  .activities__list {
    max-height: 100%;
    overflow-y: hidden;
    width: 75vw;
    margin-top: 4px;
    overflow-x: hidden;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    .pagination__container {
      width: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 1024px){
  .activity__timeline {
    margin: 0;
    padding-top: 2.5vh;
    .activities__list {
      max-height: 100%;
      overflow: hidden;
      width: 75vw;
      padding: 2.5vh 0 0 0;
      margin: 0 auto;
      .pagination__container {
        width: 100%;
      }
    }
  }
}
