/*------------------------------------*\
    #COLORS
\*------------------------------------*/
// Primary Colours
$color-primary-blue: #1a73e8;
$color-primary-black: #000;
$color-primary-white: #fff;

// General modal colors
$color-modal-title: #1a73e8;
$color-modal-button: #1a73e8;
$color-modal-miniheader: #90949c;
$color-modal-form-label: #000000;
$color-modal-field-border: #e2e2e2;
$color-modal-buttton-background: #1a73e8;
$color-modal-button-border: #1a73e8;
$color-modal-message: #000000;
$color-modal-button-active: #1a73e8;
$color-modal-button-inactive: #fff;

//Follower modal specific colors
$color-modal-follower-name: #000000;
$color-modal-follower-description: #90949c;
