.dashboard {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .navigation {
    flex-grow: 1;
    border-right: solid 1px #dfe9f1;
  }
  .news {
    flex-grow: 4;
    .notify-user {
      display: flex;
      padding: 20px 10px 20px 30px;
    }
  }
  .promotions {
    height: 256px;
    flex-direction: row;
    flex-grow: 2;
    padding: 20px 12px 20px 0px;
  }
}
