.dashboard__container {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .dashboard__container__news {
    margin-left: 13vw;
    flex-grow: 4;
    .dashboard__container__news__notify {
      display: flex;
      padding: 20px 0px 20px 30px;
    }
  }
  .dashboard__promotions {
    height: 256px;
    flex-direction: row;
    flex-grow: 2;
    padding: 20px 12px 20px 0px;
  }
  @media (min-width: 320px) and (max-width: 1024px){
    .dashboard__promotions {
      display: none;
    }
    .dashboard__container__news {
      margin-left: 0;
      .dashboard__container__news__notify {
        display: none;
      }
    }
  }
}
