.insight_main_container {
  display: flex;
  .insight_left_nav {
    border-right: solid 1px #dfe9f1;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
    background: #f5f5f5;
  }
  .right_view_container {
    .right_view {
      margin-left: 13vw;
      margin-top: 10px;
      .right_view_header {
        font-family: Qanelas;
        font-style: normal;
        font-weight: 600;
        font-size: 1.7em;
        line-height: 20px;
        color: #000000;
      }
      .right_view_content {
        .switch_btn {
          display: flex;
          .org_btn {
            width: 11vw;
            height: 5vh;
            background: #1a73e8;
            padding: 0.3em;
            margin-right: 1em;
          }
          .member_btn {
            width: 11vw;
            height: 5vh;
            background: rgb(250, 251, 252);
            color: #1a73e8;
            padding: 0.3em;
          }
        }
        .community_overview {
          .community_overview_header {
            padding-top: 0.7em;
            font-family: Qanelas;
            font-style: normal;
            font-weight: 600;
            font-size: 1.3em;
            line-height: 27px;
            color: #000000;
          }
        }
        .overview_stats {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .stat_box {
            padding: 2em;
            width: 15vw;
            height: 22vh;
            min-width: 150px;
            background: #ffffff;
            border: 1px solid #cccccc;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-right: 2vw;
            margin-bottom: 1vw;
            .stat_header {
              font-family: Inter;
              font-style: normal;
              font-weight: bold;
              font-size: 4vw;
              color: #000000;
            }
            .stat_para {
              font-family: Inter;
              font-style: normal;
              font-weight: 500;
              font-size: 1.2vw;
              text-align: center;
              color: rgba(0, 0, 0, 0.4);
              padding-bottom: 0.7em;
            }
          }
        }
      }
    }
  }
}

.insight_left_nav::-webkit-scrollbar {
  display: none;
}
