.signup-details {
  padding: 15px 0;
  font-family: "Inter";
  .form-group {
    label {
      color: #1a73e8;
      font-family: "Inter";
    }
  }
  .cta-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    button {
      // padding: 8px 10px;
      width: 104px;
      height: 38px;
      background-color: #1a73e8;
      // border-radius: 30px;

    }
  }
  .savebtn {
    display: flex;
    padding: 8px 50px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    button {
      padding: 8px 50px;
    }
  }
  #validation_msg {
    color: rgb(247, 134, 134);
    font-size: 15px;
  }
}

.signupbtn {
  border-radius: 100px !important;
}

.signupbtn-text {
  font-family: "Inter";
  font-style: normal;

  font-size: 16px;
  line-height: 24px;
}
