.profile {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  h2 {
    font-size: 22px;
    font-weight: 650;
  }
  .news {
    margin-left: 13vw;
    flex: 3;
    .notify-user {
      display: flex;
      padding: 20px 10px 20px 30px;
    }
  }
  .two {
    display: flex;
    .posts-profile {
      flex: 2;
    }
    .updat {
      flex: 1;
    }
  }
  .org-info {
    display: flex;
    flex-direction: row;
    .posts {
      h2 {
        margin-left: 28px;
      }
      flex: 2;
      display: flex;
      flex-direction: column;
      .posts-imp {
        padding: 0 0 0 0;
      }
    }
    .promotions {
      flex: 1;
      margin: 0px 20px;
      p {
        font-weight: 600;
      }
    }
  }
}

.navigation::-webkit-scrollbar {
  display: none;
}

@media (min-width: 320px) and (max-width: 1024px){
  .profile {
    margin: 0;
    .news {
      margin-left: 0;
      width: 100vw;
      .notify-user {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-top: 2.5vh;
        margin: 2.5vh 2.5vw;
        .user-detail {
          width: 100%;
        }
      }
    }
  }
  .two {
    .posts-profile {
      max-width: 100vw;
    }
  }
}
