  h2 {
    font-size: 22px;
    font-weight: 650;
  }
  .news {
    flex: 3;
    .notify-user {
      display: flex;
      padding: 20px 0px 20px 30px;
    }
  }
  .two{
    display: flex;
    .posts-profile {
      flex: 2;
    }
    .updat{
      flex: 1;
    }
  }
  .org-info {
    display: flex;
    flex-direction: row;
    .posts {
      h2 {
        margin-left: 28px;
      }
      flex: 2;
      display: flex;
      flex-direction: column;
      .posts-imp {
        padding: 0 0 0 0;
      }
    }
    .promotions {
      flex: 1;
      margin: 0px 20px;
      p {
        font-weight: 600;
      }
    }
  }
