.profile {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .navigation {
    flex: 0.5;
    border-right: solid 1px #dfe9f1;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
  }
  h2 {
    font-size: 22px;
    font-weight: 650;
  }
  .news {
    margin-left: 13vw;
    flex: 3;
    .notify-user {
      display: flex;
      padding: 20px 10px 20px 30px;
    }
  }
  .two {
    display: flex;
    .posts-profile {
      flex: 2;
    }
    .updat {
      flex: 1;
    }
  }
  .org-info {
    display: flex;
    flex-direction: row;
    .posts {
      h2 {
        margin-left: 28px;
      }
      flex: 2;
      display: flex;
      flex-direction: column;
      .posts-imp {
        padding: 0 0 0 0;
      }
    }
    .promotions {
      flex: 1;
      margin: 0px 20px;
      p {
        font-weight: 600;
      }
    }
  }
}

.navigation::-webkit-scrollbar {
  display: none;
}
