.containerStyle{
    height: 600px;
    width: 770px;
}
.container{
    width: 60%;
    height: 90%;
}
.display2{
    justify-content:space-between;
}
.heading{
    margin-top: 20px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    color: #1A73E8;
    margin-left: 3px;
}
.about{
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.2em;
    color: #90949C;
    margin-top:10px;
    margin-bottom: 5px;
    margin-left: 4px;
}
.label{
    font-weight: 600;
    font-size: 15px;
    color:#000000;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 2px;
}
.form-input{
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin-left: 3px;
}
.form-content{
    margin-top:-2%;
    margin-bottom: 20px;
    justify-content:space-between;
}
.contain{
    margin-top: -3px;
}