.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 37px;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  // &:focus-within {
  //   border: 1px solid #6694da;
  // }

  input {
    flex: 1;
    border: none;
    height: 37px;
    font-size: 14px;
    padding: 4px;

    &:focus {
      outline: transparent;
    }
  }
  .suggested__tags {
    font-size: 13px;
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.single-tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 7px;
  margin: 0 8px 8px 0;
  background: #007bff;

  .tag-title {
    margin-top: 3px;
  }

  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}
