.container{
    width: 500px;
    min-width: 450px;
   }
.heading{
    margin-top: 20px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    color: #1A73E8;
    margin-top: 15px;
}
.about{
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2em;
    color: #90949C;
    margin-top:10px;
}
.message{
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.extra{
    font-weight: 600;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.label{
    font-weight: 600;
    font-size: 12px;
    color:#000000;
    margin-bottom: 3px;
}
.form-footer{
    margin-top: 20px;
    Button{
        width:90px;
        margin-left: 20px;
        margin-bottom: 30px;
        border-radius: 100px;
        font-weight:600;
    }
    .savebtn{
        background-color: #1A73E8;
        color: white;
        &:hover{
            background-color: #1A73E8;
            color: white;
            box-shadow: 2px 3px 3px 2px rgba(0,0,0,0.3);
        }
    }
    .closebtn{
        border-color: #1A73E8;
        color: #1A73E8;
        &:hover{
            background-color: white;
            box-shadow: 2px 3px 3px 2px rgba(0,0,0,0.2);
        }
    }
}


.photo{
    margin-top: -3px;
    height: 55px;
    width: 55px; 
} 

.descr{
    font-size: 0.8em;
    color: rgb(90, 84, 84);
    margin-top: -5px;   
}
.follow{
    justify-self: center;
    Button{
        height: 35px;
        width: 90px;
        border-radius: 20px;
        background-color: #1A73E8;
        color: white;
        &:hover{
            background-color: #1A73E8;
            color: white;
            box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.3);
        }
        .btn{
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}
.follower{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:space-between;
}
.form-foot{
    margin-top: 0;
    Button{
        width:75px;
        margin-left: 20px;
        margin-bottom: 30px;
        border-radius: 100px;
        font-weight:600;
    }
    .savebtn{
        background-color: #1A73E8;
        color: white;
        &:hover{
            background-color: #1A73E8;
            color: white;
            box-shadow: 2px 3px 3px 2px rgba(0,0,0,0.3);
        }
    }
    .closebtn{
        border-color: #1A73E8;
        color: #1A73E8;
        &:hover{
            background-color: white;
            box-shadow: 2px 3px 3px 2px rgba(0,0,0,0.2);
        }
    }
}
.close-icon{
    position: fixed;
    top: 5px;
    right: 5px;
}