.editor {
  display: flex;
  min-height: 100vh;
  height: auto;
  font-family: Muli, sans-serif;
  .editor__navigation {
    flex: 0.5;
    border-right: solid 1px #dfe9f1;
    background: #f5f5f5;
  }
  .editor__content {
    flex: 5.5;
  }
}
